[2017-03-21 14:46] SammyK commented on #751
In order to obtain a Page access token that never expires, you need to use a long-lived User access token to obtain it. :)

[2017-03-21 14:46] #751 closed

[2017-03-21 15:00] Stepanov117 commented on #751
**SammyK**, yeah, I read this already 50 times or more, and spend hours trying to get this unexpired token.
Already get short-lived token.
Then get long-live (2 month) token. _manage_pages_  included.

`$unexpiredAccessToken = $oAuth2Client->getLongLivedAccessToken($longLivedAccessToken);`
But unexpiredAccessToken is still two month.

[2017-03-21 15:02] SammyK commented on #751
Tokens that never expire are only available for Page access tokens. User access tokens will always expire - even the long-lived ones.

[2017-03-21 15:25] Stepanov117 commented on #751
So... I need make get request like this?
[code]
page_id - it's group ID?
$access_token - long-lived User access token?

[2017-03-21 15:38] and800 commented on #751
@Stepanov117 yes, just try it
Then you get the token string using `$result->getDecodedBody()['access_token']`

[2017-03-21 15:59] Stepanov117 commented on #751
@and800 oh...
Notice: Undefined offset: 1 in php-graph-sdk-5.0.0/Http/GraphRawResponse.php on line 108

Fatal error: Uncaught TypeError: Argument 4 passed to Facebook\FacebookResponse::__construct() must be of the type array, null given, called in php-graph-sdk-5.0.0/FacebookClient.php on line 224 and defined in php-graph-sdk-5.0.0/FacebookResponse.php:75 Stack trace: #0 php-graph-sdk-5.0.0/Facebo

[2017-03-21 16:33] and800 commented on #751
@Stepanov117 lol, you have broken the sdk:)
it seems reasonable for me to create a separate issue with this error

[2017-03-22 06:59] Stepanov117 commented on #751
@and800 solution - update to 5.4.4 (error in 5.0.0).
But doesn't work:
`$result = $fb->get('{page_id}?fields=access_token', $access_token);`
In documentation [said](https://developers.facebook.com/docs/facebook-login/access-tokens#pagetokens): use _/me/accounts_
So `$fb->get('me/accounts', $result);` return exactly same token.

[2017-03-24 01:16] jaketoolson opened #760 "Application name next to FB post"
I can't seem to find help anywhere on this topic - We've integrated your SDK in to our web-based application and FB has approved our use.  I can't seem to figure out, how do I get FB to show our application name next to the posting?  I'm curious if this is somehow an extra parameter that needs to be passed via the SDK or something.

Example of what I'm looking to do :
<img width="208" alt="screens

[2017-03-29 06:58] KishanIos007 opened #761 "Failed to connect to graph.facebook.com port 443: Timed out"
I am on my local server here is what i try..

index.php

[code]
here is login-callback.php

[code]

[2017-03-29 09:09] Martinezmark320 commented on #761
Ok

[2017-03-29 18:52] vasilestefirta commented on #761
I also have the same issue, but it's not happening all the time. I'm using Graph API v2.8 for all my api calls.

I noticed that @SammyK mentioned here https://github.com/SammyK/LaravelFacebookSdk/issues/14#issuecomment-66364982 that `the Graph API doesn't have 100% uptime`. Is that still the problem? That comment was posted on `Dec 9, 2014` and I'm not sure if that's still valid.

Any help would b

[2017-04-04 04:46] dalmatele opened #762 "Need adding sumary field at the end of responses"
We need to get a lot of data from Facebook Graph, for example: Adsets' information. And we use paging mechanism, of course. But we can not know size of data, can not know when we reach the end of our data.
Can you add new field at the end of each response, such as the number page of data?

[2017-04-04 19:27] azoblu3 opened #763 "Redirect_uri mismatch on https"
When using a server that is not configured correctly and using SSL, you can get a redirect_uri mismatch because the server will return http://mysite.com:443/ instead of https://mysite.com

Simple solution would be to modify the file /Facebook/Url/FacebookUrlDetectionHandler.php function getCurrentUrl() at line 36 to this:

[code]
Original function:

[code]

[2017-04-10 09:19] nicolangr opened #764 "Campaign Copies"
Hi all,

i'm facing an issue when trying to create a campaign copy. Calling this API:

`POST /<CAMPAIGN-ID>/copies`

using a campaign id in my business manager i recevie this error:

`(#275) Cannot determine the target object for this request. Currently supported objects include ad account, business account and associated objects. **  ** `

May i do others step before calling copies on campaign?
T

[2017-04-13 01:20] adamellsworth opened #765 "Extended Token generation only works on once"
When a user authorizes our application and logs in for the first time we invoke the following with the resultant short-term token and are able to get a valid long-term token in return:

[code]

However, when we try to exchange any subsequent short-term tokens for a user after they log in again (for whatever reason), we're given a weird data response:

`https://graph.facebook.com/v2.8/debug_token?a

[2017-04-13 15:09] janhapke commented on #754
Just ran into the same issue.

The problem is that graph-sdk only requires Guzzle 5 in `require-dev`, so you can install Guzzle 6 through a regular `require` in your main project.

Graph SDK then detects the presence of the `GuzzleHttp\Client` class, assumes it is Guzzle 5 and goes on to use it incorrectly, triggering the fatal error mentioned above.

For me, the quick fix was to just tell Graph S

[2017-04-14 20:14] adamellsworth commented on #765
https://developers.facebook.com/bugs/1438835209524230/

[2017-04-15 17:43] byseto opened #767 "How to get facebook profile picture from username?"
Hello, im trying to get an user profile picture from username but i cant. I only make it from ID but most people dont know how to get their ids.
I need two files. See code for example.

https://pastebin.com/SWNJyRms

[2017-04-15 19:49] pedrommone opened #768 "Requests are not working in production envrionment"
This issue is based on [this stack overflow post](https://stackoverflow.com/questions/43427433/facebook-access-token-is-loosing-all-the-scopes-in-production)

----

This is a bit strange, but, our production/staging environment is not working as expected and I'm taking a shot about the URL encoding.

The API just works when I'm at local environment, but if push code into staging/production (they a

[2017-04-19 08:26] ShivamSharmaRep commented on #603
I'm having the same error while i'm trying to get ratings of a page via using php graph API i'm making graph api call it giving me a fatel error, Below is the code i'm using:

require_once __DIR__ . '/facebook-sdk-v5/autoload.php';

use Facebook\FacebookRequest;

$request = new Facebook\FacebookRequest(
  $session,
  'GET',
  '/{page-id}/ratings'
);
$response = $request->execute();
$graphObject =

[2017-04-19 10:39] vivekpan27 commented on #767
As much as I know, it is only possible to get the profile picture of a person if they have permitted your app to access their profile details.

[2017-04-19 20:14] SammyK commented on #603
Hey @ShivamSharmaRep - you're using v4 syntax. See the [v5 docs for making GET requests](https://github.com/facebook/php-graph-sdk/blob/5.4/docs/examples/retrieve_user_profile.md).

[2017-04-20 14:03] SammyK commented on #438
Feature added in #713. :)

[2017-04-20 14:03] #438 closed

[2017-04-20 14:30] SammyK opened #769 "Switch default branch to 5.5"
Hey @viv001! Would you mind switching the default branch to 5.5? :)

[2017-04-20 23:28] viv001 commented on #769
Done. :)

[2017-04-20 23:28] #769 closed

[2017-04-25 08:05] clin407 commented on #764
@nicolangr did you ever figure this out? I'm having the same issue (although I'm trying to copy adsets).

[2017-04-25 23:23] viv001 commented on #509
This is fixed https://developers.facebook.com/docs/php/gettingstarted :)

[2017-04-26 07:50] gazmendj opened #770 "Converted from v2.5 to v2.7, "phpGraph returned an error: Error validating application. Application has been deleted.""
Hi,

My app was automatically converted to 2.7 and it simply doesn't work and is displaying error 'phpGraph returned an error: Error validating application. Application has been deleted.'.

On the other side app is active on developors facebook page and nothing seems to be wrong from there!!!

Anyone knows what is happening ???

[2017-04-26 12:22] gaurvivek opened #771 "email return null for public email"
it returns email only for sdk registered user and return null for all users even if i login using email.
$response = $fb->get('/me?fields=id,name,first_name,last_name,email,gender,education,birthday,location,picture,link', $accessToken);

but it returns null except my registered account.

[2017-04-28 06:47] craigharvi3 opened #772 "Fatal error: Maximum function nesting level of '1000' reached, aborting!"
Hey,

I'm using version 5.5 of this library in my Silex project.

I'm having bother with when the library throws any sort of errors. I get the following fatal error:

[code]

Seems to be some sort of infinite loop issue but I can only reproduce it in my Silex project. If I just use login.php and fb-callback.php files then the error messages are clear as day.

Hope you can help.

Craig.

[2017-04-30 18:24] SammyK commented on #509
Thanks @viv001! It's still showing the v4 syntax in the [code snippets at the top](https://developers.facebook.com/docs/graph-api/reference/v2.9/achievement#read) even though the comment says it's for v5.

<img width="711" alt="screen shot 2017-04-30 at 1 21 26 pm" src="https://cloud.githubusercontent.com/assets/578780/25566880/530042ec-2da8-11e7-9622-be6fbd49d0b5.png">

[2017-05-03 07:01] tolbon commented on #771
Do you check the user permission "email" ?
You can only access email address of user who accept your app and your permission email.
email is sensible information.

[2017-05-04 11:23] janhapke opened #774 "Field "stop_time" is not cast to DateTime"
I am reading Campaign Objects from the Marketing API:

https://developers.facebook.com/docs/marketing-api/reference/ad-campaign-group

These Objects contain (among others) the fields `created_time`, `updated_time`, `start_time` and `stop_time`. All of them are returned as DateTime Objects from the Graph SDK, except the `stop_time`, which is a string.

I would expect the `stop_time` to be a DateTim

[2017-05-04 13:05] AleemShaukat commented on #711
Hey @nirmalthumber! Can you solve this issue?
please help me in this issue

[2017-05-06 19:30] wafiamustafa opened #775 "Fatal error: Call to a member function post() on null"
facebook object return with null in

my path is
             folder root
                                    sub folder
                                               facebooksdk folder  beside it my code in same level
define('FACEBOOK_SDK_V4_SRC_DIR', __DIR__.'/facebook-sdk/src/Facebook/');
require_once(__DIR__.'/facebook-sdk/src/Facebook/autoload.php');
// FB configs
$config = array();
$config['

[2017-05-10 08:36] gaurvivek commented on #771
I am doing this
$accessToken = $helper->getAccessToken();
 $response = $fb->get('/me?fields=id,name,first_name,last_name,email,gender,education,birthday,location,picture,link', $accessToken);

what should i do now? How to set permission.

[2017-05-10 16:12] m1guelpf opened #778 "ComposerCI"
Hi!
I've created a Greenkeeper-like tool for Composer, and after seeing Facebook uses Greenkeeper in many repositories, I was wondering in you could find ComposerCI of use.
If you register for the beta at [the composerCI page](https://composerci.miguelpiedrafita.com?ref=facebook-issue) and ping me here, I'll be more than happy to send you an invite!
Thank you

[2017-05-10 16:27] tolbon commented on #771
Do you have check email permission in your app dashboard -> app review ?

[2017-05-10 16:46] tolbon commented on #775
FYI 2.2 graph version is not more supported

https://developers.facebook.com/docs/apps/changelog

[2017-05-11 11:49] gaurvivek commented on #771
yes I did. It shows green signal near email.
I am adding here sniffed of my app page review
![pb](https://cloud.githubusercontent.com/assets/8137394/25947635/ec6874a4-366d-11e7-82b1-612c7105a871.png)

What anything else should I do?

[2017-05-11 12:32] tolbon commented on #771
Did you try with your app in Graph API Explorer ?

[2017-05-11 12:44] gaurvivek commented on #771
I am getting my own email not others.
And Graph API Explorer works only for registered api accounts. (As i seen)

[2017-05-11 13:11] tolbon commented on #771
You can only access email address of user who accept your app and your permission email.

[2017-05-12 04:33] gaurvivek commented on #771
But when i log in with another account, it doesn't ask for permission.

[2017-05-12 04:47] gaurvivek commented on #771
Here is sniffed of page when i first time login
![fb1](https://cloud.githubusercontent.com/assets/8137394/25982678/213080e4-36fc-11e7-9e71-61e67d036aad.png)

this is full list of permission and it doesn't ask for email.

![fb2](https://cloud.githubusercontent.com/assets/8137394/25982679/21326e86-36fc-11e7-8a2d-dcb3b6e5d69d.png)

[2017-05-12 08:21] tolbon commented on #771
That's weird, I don't know. But that's the reason why you didn't have email. I prefer you ask on [FbDevelopers Groups](https://www.facebook.com/groups/fbdevelopers/) and close this ticket cause it's not a bug of sdk.

Thanks and sorry for didn't help you :(

[2017-05-12 10:16] gaurvivek commented on #771
Already did.....here
https://developers.facebook.com/bugs/241915622947783/
they recommended to notify here.

[2017-05-12 15:26] tolbon commented on #771
Why you don't say that before ...

[2017-05-12 15:36] hfuccillo opened #781 "Unable to convert response from Graph to a GraphEdge because the response does not look like a GraphEdge"
Using the lastest API Graph I'm getting this error:
Unable to convert response from Graph to a GraphEdge because the response does not look like a GraphEdge. Try using GraphNodeFactory::makeGraphNode() instead.
I need the GraphEdge in order to use the pagination methods.

This works fine:
`$fb = app(SammyK\LaravelFacebookSdk\LaravelFacebookSdk::class);`
`$response = $fb->get('/'.$page.'/feed?limit

[2017-05-12 15:37] tolbon commented on #771
Can you post here the encoded body and decoded body of the request when it's null ?
$response->getBody()

This is for all of your account you test ?

[2017-05-15 08:28] tolbon commented on #781
Cause "/feed" is an Edge of Node $page
But when you ask only $page?fields=....... You ask for a Node.

Try with a getGraphNode()

[2017-05-15 09:12] tolbon commented on #771
`GET https://graph.facebook.com/USER_ID/permissions?access_token=USER_ACCESS_TOKEN`

What the result of that request in curl or php sdk ?

[2017-05-15 11:01] gaurvivek commented on #771
I found the solution. I haven't add proper permissions. Thank you for helping.

[2017-05-15 11:01] #771 closed

[2017-05-15 12:15] hfuccillo commented on #781
Thanks, @tolbon!  You save my day!
It works!

[2017-05-15 12:39] SammyK commented on #781
Thanks for chiming in on this one @tolbon! :)

[2017-05-15 12:39] #781 closed

[2017-05-16 07:59] MartinLyne commented on #566
Is there going to be a pull request for this? Or an abstraction of the curl options so they can be edited without changing vendor files?

[2017-05-16 12:14] SammyK commented on #566
@MartinLyne The HTTP Client is already abstracted and you can [create a custom cURL client with custom options](https://www.sammyk.me/how-to-inject-your-own-http-client-in-the-facebook-php-sdk-v5#customizing-the-curl-predefined-constants).

[2017-05-16 17:07] tolbon commented on #761
I have job who run with Facebook sdk 24/7. I confirm sometimes Facebook return this error.

[2017-05-16 17:08] tolbon commented on #770
What do you mean by automatically update ??

Your call is always in 2.5 version ? Or 2.7 and more ?

[2017-05-16 17:55] saurabhaec opened #782 "Serialization of 'Closure' is not allowed in session"
I am getting this issues when i use this sdk in drupal  custom module without this everything is working fine

Code :

  use \Facebook\Facebook;

  $this->fb = new Facebook([
      'app_id' => 'xxxxx',
      'app_secret' => 'xxxxx',
      'default_graph_version' => 'v2.5',
    ]);

Error :

The website encountered an unexpected error. Please try again later.
Exception: Serialization of 'Closure' i

[2017-05-16 21:02] juandpr commented on #566
In my case, it's still working with the hardcode fix I've made last year. If you find any cleaner solution please let me know. Thanks!

[2017-05-17 20:38] Siddharth22 opened #783 "SSL operation failed with code 1. OpenSSL Error messages: error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol"
First all of I am new with server configuration. My issue is when I am using local-machine in which OpenSSl and ssl certificate is not installed....then my code upload image successfully on Facebook Via using Facebook SDK for PHP.

But When I upload same code on Server where ssl enable and https working fine then my code showing me error :-

 Warning: fopen(): SSL operation failed with code 1. Ope

[2017-05-18 13:32] holtkamp opened #784 "Support/examples for usage of Offer Ads API?"
After reading this [news post about the Offer Ads API](https://developers.facebook.com/ads/blog/post/2016/08/30/offer-ads-apis/), I was wondering whether this library can be used for that.

It seems the endpoint is `https://graph.facebook.com/<API_VERSION>/<PAGE_ID>/nativeoffers`, but could not find anything documented about using it with this library. Anyone got experience with this and willing t

[2017-05-18 13:35] holtkamp commented on #784
D'oh! Sorry, here it is 🤣
https://developers.facebook.com/docs/graph-api/reference/native-offer/

[2017-05-18 13:35] #784 closed

[2017-05-18 14:17] severin-bruhat opened #785 "How can I get page token and post on page as a page"
Hi,

I think everything is in the title ;)
How can I get page token and post on page as a page ?

Cheers

[2017-05-19 15:07] tolbon commented on #783
Did you see this post ? http://stackoverflow.com/questions/15166950/unable-to-establish-ssl-connection-how-do-i-fix-my-ssl-cert/15168180#15168180

[2017-05-19 15:23] tolbon commented on #785
If you read the documentation
`https://developers.facebook.com/docs/graph-api/reference/page/feed#publish`
You see :

So if add permission manage_page & publish_pages. And when user accept your app you request for
`{USER_ID}/accounts`

and you see page have access_token variable so you use this value when you publish

Thx

[2017-05-19 15:28] tolbon commented on #782
I think you try to save this object in session ?

[2017-05-23 07:22] severin-bruhat commented on #785
Thanks,

But how can I get the page access token with the API so I can pass it to the function $fb->post() ?

Thx

[2017-05-23 08:00] severin-bruhat commented on #785
I have just found the solution. Here it is 👍 $fb = new \Facebook\Facebook([
            'app_id' => 'XXXXXXXXXXX', //TODO  change
            'app_secret' => 'yyyyyyyyyyyyyyyyyyy', //TODO  change
            'default_graph_version' => 'v2.9',
        ]);

        $linkData = [
            'link' => 'http://google.com', //TODO  change
            'message' => "My message", //TODO  change
        ];

[2017-05-23 08:00] #785 closed

[2017-05-24 17:29] SammyK opened #787 "[6.0] Require PHP 7.0 or greater"
I know we've discussed supporting PHP 5.6 in the next version of the PHP SDK, but since PHP 5.6 is in ["security fixes only"](http://php.net/supported-versions.php) mode, we should consider requiring PHP 7.0 in version 6 of the PHP SDK.

*But wait! Lots of people are still on 5.6!* Yes, which is why we should put v5 of the PHP SDK in the same support mode as PHP 5.6 (security fixes only). We could

[2017-05-24 17:58] chancegarcia commented on #787
+1

[2017-05-25 15:13] ZherebcovSergey opened #788 "Get "access token" empty"
Hi!

I tried to authorize the user through the API and have a problem. An example of which he did was

[here](https://github.com/facebook/php-graph-sdk/blob/5.5/docs/examples/facebook_login.md.)

I get "access token" empty. The application itself is configured correctly in the Facebook Developer Console. This application is available to all users. After redirecting to the page of the Facebook "aut

[2017-05-26 13:59] PaulMez opened #789 "Error in Documentation"
in
https://github.com/facebook/php-graph-sdk/blob/5.5/docs/reference/GraphNode.md

// Get the response typed as a GraphUser
$user = $response->getGraphUser());

Should be

// Get the response typed as a GraphUser
$user = $response->getGraphUser();

[2017-05-30 12:23] #772 closed

[2017-06-11 13:41] sanjeetbisht commented on #709
hey I'm using graph version 2.9 but the above method posted images separated and are showing in separate posts.
I want to club the different images into one post in a page.

[2017-06-15 08:53] DivPro99 opened #791 "bad request"
this my login.php code
`<?php

session_start();

require_once __DIR__ . '/fbsdk/src/Facebook/autoload.php';
// Create our Application instance (replace this with your appId and secret).
$fb = new \Facebook\Facebook([
  'app_id' => '1491134557637973',
  'app_secret' => 'abf2fec1a68efeb64632bbf8ce16a216',
  'default_graph_version' => 'v2.9',
  //'default_access_token' => '{access-token}', // optiona

[2017-06-21 04:06] aloha1003 opened #793 "Call to undefined method Facebook\FacebookRequest::execute"
FacebookRequest  not found any function  named : execute() ,   document  not update ?

[2017-06-22 16:21] tolbon commented on #787
I think it's a very good idea. But SDK use some nullable type. I have started to migrate 5.6 to 7.0 for sdk but cause of use nullable some points are painfull so I suggest PHP 7.1 for skip pain and cry :) and it's easy way. But I think too newest release no ?

[2017-06-23 08:38] peci1 opened #794 ""Unknown has occured" in authentication out of sudden"
My app was working for quite long without problems. Today, I started seeing this kind of exception when accessing some (but not all) API functions:

    Facebook\FacebookResponse(6) ▼ {
       "httpStatusCode" protected => 500
       "headers" protected => array(14) ►
       "body" protected => "{"error":{"message":"An unknown error has occurred.","type":"OAuthException","code":1,"fbtrace_id":"FaG

[2017-06-23 08:48] alright commented on #794
Experiencing the same problem. Simple requests work fine, only batch requests throw error.

[2017-06-23 09:34] alright commented on #794
It seems that this problem has been fixed from Facebook side

[2017-06-23 09:43] peci1 commented on #794
I can confirm that, it also started working again for me.

[2017-06-23 09:43] #794 closed

[2017-06-23 11:13] mvcmaker opened #795 "Error with get method: "Invalid appsecret_proof provied in the API argument"
Hi,
I'm using the SDK for php (v.2.9 version), and I get this error while trying to use the get method from Facebook\Facebook class. Token is valid.
This is my code from constructor:
`$this->fb = new \Facebook\Facebook([
			'app_id'=>FB::APP_ID,
			'app_secret'=>FB::APP_SECRET,
			'default_graph_version'=>FB::DEFAULT_GRAPH_VERSION,
			//'default_access_token'=>FB::SAMPLE_ACCESS_TOKEN, //Optional

[2017-06-24 10:16] echonox opened #796 "Should I upgrade to 5.x?"
We've got this info from facebook:

Reminder: Graph API v2.3 will be deprecated on July 10, 2017

So our app uses php v4 and Graph API v2.3, so my question is will our app break after July 10?

We use it to import Facebook events

Thanks.

[2017-06-24 16:46] yguedidi commented on #737
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:46] #737 closed

[2017-06-24 16:46] yguedidi commented on #738
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:46] #738 closed

[2017-06-24 16:47] yguedidi commented on #744
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:47] #744 closed

[2017-06-24 16:47] yguedidi commented on #745
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:47] #745 closed

[2017-06-24 16:52] yguedidi commented on #760
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:52] #760 closed

[2017-06-24 16:52] yguedidi commented on #762
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:52] #762 closed

[2017-06-24 16:54] yguedidi commented on #763
@azoblu3 Thank you! I'm closing this, feel free to open a Pull Request!

[2017-06-24 16:54] #763 closed

[2017-06-24 16:56] yguedidi commented on #765
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:56] #765 closed

[2017-06-24 16:59] yguedidi commented on #768
Thank you for using the Facebook PHP SDK!

I'm closing this as it looks like an environment issue...

[2017-06-24 16:59] #768 closed

[2017-06-24 16:59] yguedidi commented on #767
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 16:59] #767 closed

[2017-06-24 17:00] yguedidi commented on #764
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:00] #764 closed

[2017-06-24 17:19] #778 closed

[2017-06-24 17:20] yguedidi commented on #775
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:20] #775 closed

[2017-06-24 17:23] #761 closed

[2017-06-24 17:24] yguedidi commented on #770
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:24] #770 closed

[2017-06-24 17:27] yguedidi commented on #566
Thanks everybody! Closing as the solution looks like to be using a custom client.

[2017-06-24 17:27] #566 closed

[2017-06-24 17:28] yguedidi commented on #783
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

PS: thanks @tolbon!

[2017-06-24 17:28] #783 closed

[2017-06-24 17:29] yguedidi commented on #788
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:29] #788 closed

[2017-06-24 17:39] yguedidi commented on #791
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:39] #791 closed

[2017-06-24 17:40] yguedidi commented on #793
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:40] #793 closed

[2017-06-24 17:41] yguedidi commented on #787
👍 for 7.1!!

[2017-06-24 17:42] yguedidi commented on #795
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:42] #795 closed

[2017-06-24 17:42] yguedidi commented on #796
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:42] #796 closed

[2017-06-24 17:45] yguedidi commented on #796
@echonox BTW, it's depends on the API call you do, check the Graph API [Changelog)(https://developers.facebook.com/docs/apps/changelog) or use the Facebook [API Upgrade Tool](https://developers.facebook.com/tools/api_versioning/)

[2017-06-24 17:49] yguedidi commented on #735
I agree on the idea of allowing a user defined MIME type ;)

[2017-06-24 17:50] yguedidi commented on #453
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 17:58] yguedidi commented on #748
Most of our tests are unit tests. Actually there is only one integration test that use real API calls: https://github.com/facebook/php-graph-sdk/blob/93d7dc87e55a541d2e27d38f3aed40abbffdf6e1/tests/FacebookClientTest.php#L207-L258

BTW, @SammyK and I are not from Facebook :)

[2017-06-24 17:58] #748 closed

[2017-06-24 18:13] yguedidi commented on #754
Closing as the warning is added in the README.

[2017-06-24 18:13] #754 closed

[2017-06-24 18:15] yguedidi commented on #711
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2017-06-24 18:15] #711 closed

[2017-06-24 18:39] yguedidi commented on #509
ping @viv001 :)

[2017-06-24 18:42] #578 closed

[2017-06-25 22:12] pabloalber84 opened #799 "Guzzle http errors when I add facebook graph sdk codeigniter."
I added facebook graph sdk with composer in codeigniter.
In the past webhosting, works fine, but, I changed to own webhosting (Dedicated server debian 8), and I get this error:
[code]
Line 227:
`        $result = $options + $defaults;`

I called guzzle without facebook php-graph-sdk , and working fine, but when I add facebook php-graph-sdk, this call automatic guzzle, but I receive this error.

So

[2017-06-25 22:16] pabloalber84 commented on #799
Fixed, I forgot install php curl :B

[2017-06-25 22:42] yguedidi commented on #799
Then I close this :)

[2017-06-25 22:42] #799 closed

[2017-06-26 08:15] mvcmaker opened #800 "Bug when using a valid access token by invalid appsecret_proof that is disabled"
Hi,
I'm using the latest version of the sdk (5.5.0)
I've unset the appsecret_proof in the app advanced config, but when I use a valid access token got directly from the api tools. But I get all the time the next error:

This is a code issue, due I'm using the main README.md code that should works but don't. Please, check it and fix it this, so we can not use que facebook until now.

[2017-06-26 09:44] yguedidi commented on #800
@mvcmaker do you get an access token from the API tools for the right app?

[2017-06-26 09:45] mvcmaker commented on #800
Of course, in fact, this access token works fine when I use the graph tools with my app account.

[2017-06-26 14:40] SammyK commented on #800
This happens when your app secret doesn't match the app that the access token belongs to. So make sure to double check that. If it's still not working, can you post some code?

[2017-06-26 15:01] mvcmaker commented on #800
Of course, here you have:

This code is in my constructor:

[code]

And the next code is on the method that I want to check the user existence:
[code]

[2017-06-26 15:11] yguedidi commented on #800
@mvcmaker what https://developers.facebook.com/tools/debug/accesstoken/ says?

[2017-06-26 15:23] mvcmaker commented on #800
Tells that's all it's ok

[2017-06-26 15:36] mvcmaker commented on #800
php-graph-sdk automatically sends appsecret_proof key when sending both, post or get requests, and this can not be modified directly without modifyin the main framework, but out configuration has appsecret disabled, this is the reason of working using the debug tools and not the the github sdk code. Still more, the code that gives you facebook to use the php-graph-sdk doesn't works, is deprectaed

[2017-06-26 21:17] yguedidi commented on #800
@mvcmaker and the credentials configured for the SDK are **exactly** the same than the credentials of the application linked to the access token in Access Token Debug Tool?
By exactly I mean beware of any hidden character at the begining or the end of the app id and app secret.

I don't think this is an issue in the SDK, overwise the SDK will be unusable, and not only you will complain about this

[2017-06-26 21:22] mvcmaker commented on #800
Yes, are the same. It's an issue of the SDK, due when I call directly using curl by get, and ommitign the get request var appsecret_proof, the response is the expected, but when I use the $fb->get() method, the result is always the unexpected error that is the main reason of this post.

[2017-06-26 21:22] mvcmaker commented on #800
stackoverflow has just passed away through my post, no response, no answers. Has been 100% omitted by everybody.

[2017-06-26 21:35] yguedidi commented on #800
please `var_dump($appSecret)` and `var_dump($this->value)` just before the return here: https://github.com/facebook/php-graph-sdk/blob/5.5/src/Facebook/Authentication/AccessToken.php#L70
Is the access token the one you provide? is the secret the one you provide?

[2017-06-26 21:37] mvcmaker commented on #800
Yes of course, the same

[2017-06-26 21:42] mvcmaker commented on #800
Can you give me please, a contact mail of a facebook technitian? This is a problema that must solve facebook, no github, it's a facebook problem, for two reasons: The first is that the sdk they provide doesn't work, the second is that the code they give to use it doesn't work neither, due is calls a method that doesn't exists.

[2017-06-26 21:42] yguedidi commented on #800
the `appsecret_proof` behavior is unit tested, it should work, so if you manage to provide use a failing test, it would be easier to solve your issue. Please open a PR with the failing test.

[2017-06-26 21:43] mvcmaker commented on #800
What is a PR? I'm new in github.

[2017-06-26 21:47] yguedidi commented on #800
this SDK is maintain by 2 Facebook SDK lovers, @SammyK and myself, and we don't work at Facebook.
A PR is a Pull Request, a contribution you do to a project, read this: https://help.github.com/articles/about-pull-requests/
You should read the whole GitHub help, it's pretty complete :)

About your bug, if you think it's a bug from the Facebook side, open a bug report here: https://help.github.com/a

[2017-06-26 21:47] #800 closed

[2017-06-26 21:57] mvcmaker commented on #800
This issue has not been solved yet, please, think about before to close it. Can you reopen until will be solved? Thanks!

[2017-06-26 22:02] mvcmaker commented on #800
I've opene a new pull request to solve this issue. Facebook has confirmated me that is a bug from the sdk, as I was thinking. Please, consider this pull request because now I'm working directly using curl requests and is not the best idea. Thanks,

[2017-06-26 22:13] yguedidi commented on #800
Please link to the bug in the Facebook issue tracker where Facebook answers you. Thanks

[2017-06-26 22:14] SammyK commented on #800
It's easy to copy & paste the app secret incorrectly from the app settings in the dashboard. I do it all the time incorrectly, so make sure your app secret didn't get accidentally truncated when you copied it into your app.

Also - put this bit of code above your `try` statement that tries to grab the user:

[code]

What response do you get?

[2017-06-27 07:47] mvcmaker commented on #800
Good morning from Spain, a new working day begins, so let's go. This is the code that Facebook gives when you use the Api graph explorer, and obviously this code is incompatible with the php-graph-sdk, due the parameters are wrong passed to the FacebookRequest constructor:
`$request = new FacebookRequest(
  $session,
  'GET',
  '/me',
  array(
    'fields' => 'id,name,email'
  )
);

$response = $r

[2017-06-27 08:31] mvcmaker commented on #800
Regarding to you issue comment #issuecomment-311189131, I've checked what you told me and both, app_secret and access_token are the same.

[2017-06-27 08:33] mvcmaker commented on #800
This is my new code for the cusotmized getUserData method:
`public function getUserData($fbToken=null) {
		if(is_null($fbToken))
			$fbToken = $this->accessToken;
		if(!$this->usePhpGraphSdk) {

			$data = [
				'access_token' => $fbToken,
				'fields' => 'id,name,email',
			];
			//print_r($data);
			$resp = curlGet("https://graph.facebook.com/v2.9/me", $data);
			$resp = json_decode($resp, true)

[2017-06-27 08:50] mvcmaker commented on #800
Hi @SammyK, regarding your issue comment, I've tried to apply it your code, it returns an error:

 in <b>/var/www/appservices/webservices/facebook/facebook_custom.php</b> on line <b>133</b><br />
bool(false)

But I can apply more friendly than your code, using my direct curl call as follows:

`if(!$this->usePhpGraphSdk) {

			$data = [
				'access_token' => $fbToken,
				'fields' => 'id,name,email

[2017-06-27 09:24] mvcmaker commented on #800
Hi all, the issue has been solved. The problem was with the access token, that was generated as generic manner using the facebook api graph explorer, instead to be generated for the target application associated with the app_secret and app_id keys. The generic token seems works independently the app_secret and app_id passed, and fails when is passing the optional appsecret_proof request var.

Than

[2017-06-27 10:33] yguedidi commented on #800
:)

[2017-06-27 10:38] mvcmaker commented on #800
@yguedidi. Regarding to your comment id #issuecomment-311197132, here you have the facebook bug link:
https://developers.facebook.com/bugs/932163706922443

Regarding to the last post, I don't know what is the credentials you mean in this Access Token Debug Tool, I use the API graph explorer tool, but this not uses any credential except a single access token.

[2017-06-27 10:43] mvcmaker commented on #800
I have a question now. There's any way to validate access token before call a request mothod? I mean that the FacebookAuthenticationAccessToken class has several methods, but no one told me if this token is valid by associating token with either app_id or app_secret.

[2017-06-27 11:59] yguedidi commented on #782
@saurabhaec I think @tolbon is right, so it's not a SDK issue, closing it.

[2017-06-27 11:59] #782 closed

[2017-06-27 12:00] yguedidi commented on #774
CLosing as #777 is merged

[2017-06-27 12:00] #774 closed

[2017-06-27 12:01] yguedidi commented on #789
Thank you @PaulMez! Would you like to have your first contribution to the SDK? There is no small contribution!! ;)

[2017-06-27 22:41] yguedidi commented on #619
@SammyK what do you think if we close this? We can't reproduce it, it's not the more than 50 requests (we already have a safeguard), and it only happened once to @AidasK.

[2017-06-28 14:42] josfaber opened #804 "Call to undefined method Facebook\FacebookApp::getToken()"
I'm using the "Simple GET example of a user's profile" and get the error as in the subject. The init of the Facebook\Facebook passes, but the  `$response = $fb->get('/me', '{access-token}');` fails with both my user access token (generated through the graph api explorer) and none supplied.

What am I missing?

my code:
[code]

full error:
[code]

[2017-06-29 08:52] reneroboter commented on #804
The error message tells you that the method getToken is undefined. Check your SDK version and compare it with the documentation version did you use. Different version of the the SDK may work little bit different.

[2017-06-29 08:52] mvcmaker commented on #804
I think you're using new code from the reference section of Facebook developers web, but you're trying to use this code with an old verion of the sdk. Try to update your sdk version with composer to 5.5 and try again.

[2017-06-29 09:33] mvcmaker opened #805 "Can't get expiration date directly from method getExpiresAt()"
Hi,
I'm using a customized method to get the access token expiration date as follows:
[code]
The problem is that the resturn of this function is always NULL, even when I pass an expired accessToken, because when I launch the get() method just after call this method, I get the en error (generated from a FacebookResponseException) that tells that session was expired at some date and we are now at ne

[2017-06-29 09:35] josfaber commented on #804
Sorry to say the error remains after removing and reinstalling the sdk via composer. The composer.json file sais `"facebook/graph-sdk": "^5.5"`

[2017-06-29 11:44] mvcmaker commented on #804
Hi,
I've executed your code in my server, with my php-graph-sdk library, and I get a successfull response (after changing your app_id, app_secret and de accessToken you've hidden). This is my response:

So sure is a problem with your library. Try to delete completely and install again clean by composer.

[2017-06-29 12:10] AidasK commented on #619
This error has appeared 4 times today:
[code]
This is part of my stacktrace:
<img width="1029" alt="screen shot 2017-06-29 at 15 05 03" src="https://user-images.githubusercontent.com/2088484/27686675-802d87bc-5cdc-11e7-83c4-9189f3e92298.png">
<img width="1006" alt="screen shot 2017-06-29 at 15 08 16" src="https://user-images.githubusercontent.com/2088484/27686765-d4144294-5cdc-11e7-8f18-957c53ab1b

[2017-06-29 12:16] josfaber commented on #804
You were right Daniel. Turns out there were leftovers from the old 'php-sdk' in the vendor folder, so the wrong classes got called.

So, my bad, thanks for the help!

[2017-06-29 12:16] #804 closed

[2017-06-29 12:54] SammyK commented on #619
Hum... I'm curious how we could reproduce this.

[2017-06-29 12:56] AidasK commented on #619
I don't think we can reproduce it, it is an error from facebook api, but sdk should handle it

[2017-06-29 12:57] SammyK commented on #804
@mvcmaker You posted your app secret and an access token in your response. I just edited them out of your reply. I highly recommend you reset your app secret now as anyone can use that to compromise your app.

[2017-06-29 13:05] mvcmaker commented on #804
No problem with that, nobody will use it, because is protected by ip address...

[2017-06-29 13:49] SammyK commented on #804
@mvcmaker Just because you're having trouble getting it to work doesn't mean no one will use your app to do something malicious. You should still change your app secret. ;)

[2017-06-29 13:57] mvcmaker commented on #804
I won't change my private key neither app key, but thanks to remind me.

[2017-06-30 06:54] tolbon commented on #805
Short answer. The long answer come later

Did you see what the code do ?

https://github.com/facebook/php-graph-sdk/blob/5.5/src/Facebook/Authentication/AccessToken.php

You see the constructor didn't set the expireAt value if you didn't set it yourself and the getExpireAt is just a simple getter.

I suggest you to use this link
https://developers.facebook.com/docs/graph-api/reference/v2.9/debug_t

[2017-06-30 09:13] mvcmaker commented on #805
Thanks! That' great! It worked fine, using the get method by calling the "/debug_token?input_token=....."!
The only problem is that the facebook reference is obsolete, is working on a previous sdk release and the code they post doesn't work, they are based on the session working, while this is not present in current sdk version 5.5.
I was confused with the getExpiredAt() got from the AccessToken c

[2017-06-30 09:51] tolbon commented on #805
No It's not obsolete debug_token is always active Why did you say that ? maybe the code of example is deprecated for newer version use **getGraphNode** instead of **getGraphObject**

the expireAt is not a way to get this information, you need to get this information by debug_token,
or at the connection (<- I need confirmation for this)
, and set this in your class if you need it. it's just POO.

I

[2017-06-30 10:05] mvcmaker commented on #805
@toolbon, I'm sorry to confuse you with my explanation. I didn't mean that the debug_token is osbolete. That's not what I mean. I mean:

By the other hand, regarding to the exptend token live by SDK, thanks, it's impossible to doing by sdk to extend token for 30 days. I will make a prove of extend a 60 minutes live token to 30 days by using getLongLiveAccess(). Thanks!

[2017-06-30 10:18] tolbon commented on #805
https://developers.facebook.com/docs/facebook-login/access-tokens
If you need lot of more information about token :)

Yeah use getLongLiveAccess() if you need ±30 days token but you can't have more.

[2017-06-30 10:20] mvcmaker commented on #805
@tolbon Sorry, I didn't visited the link you gave me, I can extend the token live by using this code, it's not short, but possible. Thanks!

[2017-06-30 11:47] yguedidi commented on #805
Thanks @tolbon! @mvcmaker then this can be closed? :)

[2017-06-30 12:27] mvcmaker commented on #805
I think yes, it is all, thanks folks!

[2017-06-30 16:53] yguedidi commented on #787
@SammyK OK for 7.1? I think you are... :)

[2017-06-30 16:53] #805 closed

[2017-06-30 19:21] #789 closed

[2017-07-03 00:43] PaulMez commented on #789
Yeah sure, sounds good :)

On Sat, Jul 1, 2017 at 5:21 AM, Yassine Guedidi <notifications@github.com>
wrote:

--
_________________________
                 Mez

[2017-07-04 08:10] zohaib055 opened #812 "Unknown SSL protocol error in connection to graph.facebook.com:443"
facebook sdk working perfect on the localhost but when i try on my network ip http://192.168.3.9

it gives me  "Unknown SSL protocol error in connection to graph.facebook.com:443" error can anyone

please help me out what is the cause of this issue and how can it be resolved ?

[2017-07-04 11:58] tolbon commented on #812
I think this is not a php facebok sdk error this kind of question is more relevant in StackOverflow ...
but anyway
What versions of PHP and OpenSSL have you got installed?

[2017-07-04 13:52] hellomedia commented on #566
@juandpr I used your fix, forcing ipv4, but I am now seeing slow page loading times for users connected with facebook. Did you experience that also ?

[2017-07-04 21:00] juandpr commented on #566
@hellomedia Hello, no, for me it's working good. I think that you might have a problem with your network and that particular URL. Try doing a ping to that URL to check the latency.

[2017-07-04 21:50] junaidatique commented on #315
@yguedidi the files are less than 4 mb and valid jpg files but still these are not uploaded. I had similar issue with twitter which I fixed using [this](https://stackoverflow.com/a/28701786). Please suggest something like this.

[2017-07-04 22:39] yguedidi commented on #315
@junaidatique Thank you for your feedback! Please tell me which PHP version you use? With which HTTP client: cURL, Guzzle or streams?

[2017-07-05 15:18] tolbon commented on #700
@SammyK
Do you have an example when "Graph is a weirdo"

It is not possible to just check like this ?
[code]

[2017-07-05 15:44] SammyK commented on #787
Just linking these - I left my comments on #809, but yes I'm in favor. :)

[2017-07-05 16:19] SammyK commented on #700
@yguedidi Yes, when grabbing a user's profile picture for example: `/me?fields=id,picture` would result in something like:

[code]

[2017-07-05 17:25] tolbon commented on #700
Ok I test tomorrow but my "patch" seems to be ok

[2017-07-05 17:46] foaly-nr1 commented on #700
@tolbon can you create a PR please?

[2017-07-05 18:31] junaidatique commented on #315
@yguedidi I am using php version 5.6 and my fb sdk version is 4.0

[2017-07-05 20:14] tolbon commented on #700
@foaly-nr1 Yep tomorrow after my test :)

[2017-07-05 20:30] yguedidi commented on #315
@junaidatique the HTTP client you use is also import, which it is?
PS: considere upgrading the SDK version to at 5.5 :)

[2017-07-05 20:33] yguedidi commented on #315
@junaidatique BTW, based on this [Guzzle config documentation](http://docs.guzzlephp.org/en/stable/request-options.html#verify) and [this change in PHP5.6](http://php.net/manual/en/migration56.openssl.php#migration56.openssl.peer-verification), I think your OpenSSL configuration is broken

[2017-07-05 21:33] SammyK commented on #787
Closed via #813

[2017-07-05 21:33] #787 closed

[2017-07-06 06:04] NorisD opened #816 "PHP Fatal error: Class 'FacebookRequest' not found"
Hi!
I checked the file autoload.php and file has been correctly load

but if the programm call FacebookRequest class this not found.
I specificed the namespace when created the object  > change errore :
Call to undefined method Facebook\\FacebookRequest::execute()

[2017-07-06 22:30] #595 closed

[2017-07-06 22:33] localheinz commented on #595
Thank you, @yguedidi!

[2017-07-07 17:41] junaidatique commented on #315
@yguedidi  I am googling for two days now but I am unable for OpenSSL configuration. Can you recommend me changes? Thanks in advance.

[2017-07-11 14:36] neko-fire opened #821 "Video upload in chunks stuck with Error 6001:1363037"
Hi,

I am using the php-graph-sdk mainly for Video uploads. Everything works well with the samples of the documention besides the video upload in chunks. I've used the selfchunking sample implentation for bigger video files, since the all in one solution dropped an similar error with no debug information. Here some base information:

- 2 sample Video Files with: (4k | ~6min | 2,5GB) and (1080p | 1

[2017-07-11 15:35] junaidatique opened #822 "SSL3_GET_SERVER_CERTIFICATE:certificate verify failed"
Hi,

I am using v5.5 and I am getting following error.

Message:  fopen(): SSL operation failed with code 1. OpenSSL Error messages:
error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed on Filename: FileUpload/FacebookFile.php Line Number: 91.

I am trying to upload an image to album from URL.

Please help.

[2017-07-13 09:56] mvcmaker opened #823 "FacebookResponseException code 100 generated with generated access tokens for testing"
Hello,
I get the next exception (Facebook\Exceptions\FacebookResponseException) while trying to use an access token that has been generated with the logged site of developer facebook app with the same app as the app_id I use in the code. The users are the testing users created within the same developer site:

This exception code (100) is not documented in the facebook reference exceptions sections

[2017-07-13 15:56] solo14000 opened #824 "Cannot login from HTTPS redirect url on french web hosting OHV.COM because FacebookUrlDetectionHandler failed to detect HTTPS"
Hi,

Since a few months, facebook login using PHP SDK 5.5 failed from HTTPS website on  the french web hosting OVH.COM

Facebook->getRedirectLoginHelper()->getAccessToken() raises FacebookResponseException with the following message.

The failure comes from the fact I call facebook api using https://my-website/blabla/ redirect URL but facebook SDK resolves it as http://my-website:443/blabla/ (http

[2017-07-18 16:42] flyingcoder opened #826 "Problem with cross-site request forgery"
Facebook SDK returned an error: Cross-site request forgery validation failed. Required param "state" missing from persistent data.

I already put this code above my auth.php and callback.php
`if (!session_id()) {
		session_start();
}`

The login with facebook button works only on admin accounts. But it is not working on other Facebook accounts. It displays the cross-site error

[2017-07-21 03:30] arthPD commented on #652
@SammyK, I'm having the same problem. I want my user to log out from their facebook account, but the getLogoutUrl just takes me to facebook homepage.
I'm using laravel framework and have to use a custom persistent data handler.

please help. thanks

[2017-07-21 12:09] hellomedia commented on #566
Thanks @juandpr , I finally got it sorted out. The connection was re-initiated at every page load because of an issue with the application.

[2017-07-21 12:52] singhkulpreet opened #827 "how to make logout button???"

[2017-07-21 17:22] SammyK commented on #827
https://github.com/facebook/php-graph-sdk/blob/93d7dc87e55a541d2e27d38f3aed40abbffdf6e1/docs/reference/FacebookRedirectLoginHelper.md#getlogouturl

[2017-07-21 17:22] #827 closed

[2017-07-21 17:31] SammyK commented on #652
I think Facebook might have disabled the logout feature. It hasn't seemed to work for a while now.

[2017-07-23 00:38] SammyK opened #828 "Update all references of Graph API v2.9 to v2.10"
...for both master and 5.5 branches. :)

[2017-07-23 13:58] SammyK commented on #828
Closed via #829 & #830

[2017-07-23 13:58] #828 closed

[2017-07-23 14:12] SammyK opened #831 "Make default branch 5.x"
I created a [new branch called 5.x](https://github.com/facebook/php-graph-sdk/tree/5.x) so that we don't have to keep changing the default branch for every minor version bump. So this should be the last default branch change until v6.0 comes out. :)

[2017-07-23 14:14] SammyK commented on #831
I'm trying to assign @viv001 to this but you're not showing up in the "Assignees" for some reason.

[2017-07-23 21:01] juandpr commented on #566
@hellomedia great, good to know that you found the solution :)

[2017-07-24 03:12] arthPD commented on #652
Hi @SammyK, this worked for me, https://stackoverflow.com/a/25577384
Apparently, didn't add a platform for my app. Btw, thanks! :)

[2017-07-24 11:01] SammyK commented on #652
Awesome! Thanks for sharing the solution! :)

[2017-07-25 05:48] VAMPIIRE opened #833 "Asynchronous request"
Can I send an Asynchronous request? I'm using $facebook->post('me/feed', $data); request and I do not need to handle response. Each time, waiting for a response took 3-5 which is not good for me.

[2017-07-26 12:37] prafullwizorbit opened #834 "Facebook SDK returned an error: Connection timed out after 10001 milliseconds"
Hi
    Facebook SDK returned an error: Connection timed out after 10001 milliseconds while move my code on server .It is written in SDK that this type of error occurs when validation fails or other local issues.But I am unable to understand. I also set ini_set('max_execution_time', 0); for this but error remains the same.
     This is my callback.php code after login redirect uri:

session_start()

[2017-07-28 10:01] hrvojebrkasic commented on #826
Try this
`$fb = new \Facebook\Facebook([
            'app_id' => $this->fb_app_id,
            'app_secret' => $this->fb_app_secret,
            'default_graph_version' => 'v2.10',
        ]);
$helper = $fb->getRedirectLoginHelper();
if (isset($_GET['state'])) {
            $helper->getPersistentDataHandler()->set('state', $_GET['state']);
        }`
It works for me.

[2017-07-28 10:50] hrvojebrkasic opened #835 "This authorization code has been used."
I'm having big problems with message from title.
Signup works great, but when I logout and go back to login, I get this message. Code below is where everything happens. Symfony 2.8 is used

`$response = $event->getResponse()->getResponse();

        /** @var User $user */
        $user = $event->getUser();

        $fb = new \Facebook\Facebook([
            'app_id' => $this->fb_app_id,

[2017-07-31 12:36] hrvojebrkasic commented on #835
Fixed problem using code below. Fix was loading token from db

`public function onLogin(SocialLoginEvent $event)
    {
        if ($event->getResponse()->getResourceOwner()->getName() != $this->resourceOwner) return;

        /** @var User $user */
        $user = $event->getUser();

        $fb = new \Facebook\Facebook([
            'app_id' => $this->fb_app_id,
            'app_secret' => $this-

[2017-07-31 12:36] #835 closed

[2017-08-01 09:13] prafullwizorbit opened #836 "Not getting long live access token after redirect uri if i login with someone other account"
I am not getting someone other's long lived access token using my facebook login because manage_pages permission is not provided from my login account to someone other accounts. Is there any way to get manage_pages permission for any person facebook account from my login.

[2017-08-01 10:04] bobitza opened #837 "#324 facebook error Api v.2.10"
I have version of Facebook api v.2.10 from github PHP, but something changed in last period because i can't upload image on facebook anymore i get this error :

(#324) Requires upload file

And this is the code:
[code]

And this is the path for image `$photo_path = 'wpub/facebook-imgs/56fc6b23b6cf277e782f0cde05822e784ae73f13.jpg';`

[2017-08-01 10:10] #837 closed

[2017-08-01 10:10] bobitza commented on #837
Was coding issue

[2017-08-03 08:12] anonymuos1 opened #838 "(#12) singular published story API is deprecated for version v2.4 and higher"
Hi!

I would need some help with this problem. Deleting the post works on localhost but I get this erros message on webhosting server: **(#12) singular published story API is deprecated for version v2.4 and higher**

This is how I've tried deleting (worked on localhost, but none of the on the server)
[code]

The default_graph_version is set to v2.10, but I still get an error message for v2.4.  Wha

[2017-08-04 12:24] azhard4int commented on #834
+1, we are facing the same issue.

[2017-08-06 19:24] ollietb commented on #605
We've started using this fork in production rather than the current release for the reasons stated above. I hope it gets merged in soon 👍

[2017-08-07 09:29] bobitza opened #839 "Upload photo bug"
When i upload photo on user profile page, i post a .gif file and he make me jpg on facebook,
this is var_dump on fileToUpload();
`object(Facebook\FileUpload\FacebookFile)#15 (4) {
  ["path":protected]=>
  string(63) "wpub/facebook-imgs/a3649db2d66abfdbf4015ae081d95bf5bcaa4af5.gif"
  ["maxLength":"Facebook\FileUpload\FacebookFile":private]=>
  int(-1)
  ["offset":"Facebook\FileUpload\FacebookFile":

[2017-08-07 10:53] bobitza commented on #839
I found the problem, facebook convert anything you give to JPG, and you need to convert gif to mp4 to post it

[2017-08-07 10:53] #839 closed

[2017-08-07 15:57] mytryk opened #840 "Not accesable global variables"
Hi,
have you any suggestions for case if $_GET not accesable?
FacebookRedirectLoginHelper class not works.

[2017-08-08 09:45] mytryk commented on #840
Maybe anybody can provide something like this solution (if usage $_GET so necessary):

diff --git a/src/Facebook/Facebook.php b/src/Facebook/Facebook.php
index 8f8b544..c6bc318 100644
--- a/src/Facebook/Facebook.php
+++ b/src/Facebook/Facebook.php
@@ -275,16 +275,18 @@ class Facebook

     /**
      * Returns the redirect login helper.
-     *
+     * @param array $customGetContainer
      * @retu

[2017-08-08 11:01] #840 closed

[2017-08-08 14:50] dyanakiev opened #841 "Publishing event from page"
Hello,
I need to create event but i dont have any success doing it.
For example some user is logged in my site with their facebook account then i want this user to be able to create event from my site and to publish it on facebook.

How this can happen?

[2017-08-08 15:41] mantissefr commented on #841
Hello there,

I find this is a very good question a power user could answer to.

All the best,

José

2017-08-08 16:50 GMT+02:00 Dimitar Yanakiev <notifications@github.com>:

[2017-08-08 19:55] bvrignaud commented on #824
Hi,

I am on OVH to, and I have the same problem as you.
My facebook connection works on http but doesn't on https.
Thanks for your patch.

I just done
[code]
But it isn't a good way.

Thanks

[2017-08-08 21:44] solo14000 commented on #824
I have open a ticket on OVH asking them to fix the HTTP settings and refering to this facebook sdk issue. Ovh want me to perform some more tests. Personnaly I do not have spare time for these tests. Investigating the bug and making a workaround already take me lots of hours.

[2017-08-09 07:15] dyanakiev commented on #841
Hey, thanks for the reply, unfortunately everything i found about creating event through api says that the api for create event is deprecated, but ev*ntbrite have the ability to create event for their logged users.

[2017-08-12 09:01] SammyK opened #842 "Add include to composer autoloader to basic examples (docs & readme)"
Per an email I received. :)

<img width="623" alt="screen shot 2017-08-12 at 6 00 55 am" src="https://user-images.githubusercontent.com/578780/29239374-af9417dc-7f23-11e7-8b41-1e298ae98285.png">

[2017-08-16 15:02] SammyK commented on #841
Hey @dyanakiev! The Graph API does not support creating events on the events edge: https://developers.facebook.com/docs/graph-api/reference/page/events#Creating I hope you find an alternative solution! :)

[2017-08-16 15:02] #841 closed

[2017-08-16 15:14] SammyK commented on #838
Hey @anonymuos1!

1. What does your instantiation of `$this->fb` look like?
2. And what specifically are you trying to delete? A post from a user's timeline?
3. Was the post created by a (test) user or your app?
4. If it's the app, was it created with the localhost app and you are trying to delete it with the production app?

Lots of questions. :)

[2017-08-16 15:17] SammyK commented on #836
Hey @prafullwizorbit. The `manage_pages` permission cannot be obtained from a separate user account. The account that you want the permission for has to be the one that grants the permission. :)

[2017-08-16 15:17] #836 closed

[2017-08-16 15:21] SammyK commented on #834
Thank you for using the Facebook PHP SDK!

If you need assistance using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you find a bug in the SDK or have a feature request, feel free to open a new GitHub issue.

[2017-08-16 15:21] #834 closed

[2017-08-16 15:24] SammyK commented on #833
Hey @VAMPIIRE!

The Facebook PHP SDK does not natively support async requests (yet!) but you could possibly wrap the request in a Promise if you're making use of an async lib or something. :)

[2017-08-16 15:24] #833 closed

[2017-08-16 15:26] SammyK commented on #826
Thank you for using the Facebook PHP SDK!

If you need assistance using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you find a bug in the SDK or have a feature request, feel free to open a new GitHub issue.

[2017-08-16 15:26] #826 closed

[2017-08-16 15:43] SammyK commented on #824
Hey @solo14000! Thanks so much for all the hard work digging into this issue!

I did some digging and it appears that looking primarily at the `X-Forwarded-Proto` header to determine HTTP or HTTPS is the "correct" configuration.

As this is a misconfiguration on the web host's end, we can't really apply any patches for this on our end. Hopefully you can convince them to fix their configuration! Go

[2017-08-16 15:43] #824 closed

[2017-08-16 15:48] SammyK commented on #823
Hey @mvcmaker! Make sure that the test user access token belongs to the app you're using it for (note that test users on the main production app are different than a localhost version of the same app).

As this error is coming from the Graph API and not the Facebook PHP SDK, it is very likely that this is due to a misconfiguration in your implementation code. If you need further assistance with it

[2017-08-16 15:48] #823 closed

[2017-08-16 16:11] SammyK commented on #822
Hey @junaidatique!

How are you trying to upload the remote image? You should use the `url` instead of `source` field. So instead of doing this:

[code]

You should do this instead:

[code]

More info on the /album/photos edge: https://developers.facebook.com/docs/graph-api/reference/v2.10/album/photos#publish

[2017-08-16 16:11] #822 closed

[2017-08-16 16:28] SammyK commented on #821
Hey @neko-fire!

It seems that each of your video examples exceed the resumable video upload limitations: https://developers.facebook.com/docs/graph-api/video-uploads#nonresumable

You first one exceeds the **2 GB** maximum size and the second one exceeds the **20 mins** max play time. Feel free to open a new issue if you're having this problem with videos under 2GB and under 20 mins long. :)

[2017-08-16 16:41] SammyK commented on #821
Oops! My bad. I looked at the wrong part of the docs. Resumable supports **10 GB** and **4 hours**. Whoa! :)

https://developers.facebook.com/docs/graph-api/video-uploads#resumable

Re-opening to investigate further. FWIW, on error `1363037`:

@yguedidi You have any thoughts on this one? Maybe we need to check for `error_data. start_offset` when this specific subcode is returned?

[2017-08-16 16:43] #842 closed

[2017-08-16 16:53] SammyK commented on #816
Hey @NorisD! Which version of the Facebook PHP SDK are you using? You're referencing v4 syntax which does not exist in v5 (latest stable). If you need further assistance, you should ask your question on [StackOverflow](https://stackoverflow.com/) and tag it with the `facebook-php-sdk` tag. :)

[2017-08-16 16:53] #816 closed

[2017-08-16 16:54] SammyK commented on #812
Thank you for using the Facebook PHP SDK!

If you need assistance using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you find a bug in the SDK or have a feature request, feel free to open a new GitHub issue.

[2017-08-16 16:54] #812 closed

[2017-08-16 17:19] #757 closed

[2017-08-17 09:19] anonymuos1 commented on #838
Hello!

Thank you for your anwer!

1. In Slim Framework, the variable for contaner is $this->fb. So that it is available everywhere. This can't be the problem.
2. I tried deleting it from a Facebook page, not from user timeline.
3. The app made the post.
4. I created it on the webhosting server and that is where I tried deleting it.

[2017-08-17 14:27] anonymuos1 commented on #838
I found the problem eventually. Pretty amature but oh well. On the server for whatever reason varchar 11 field was created for post ID and the data clearly did not fit, so thanks to the false ID it wouldn't delete. On localhost it was set to 255 so there it was good.

[2017-08-17 14:29] prafullwizorbit commented on #836
thanks

[2017-08-17 16:53] SammyK commented on #838
Oh yeah! That's bitten me before too. Glad you figured it out & thanks for sharing your solution! :)

[2017-08-17 16:53] #838 closed

[2017-08-17 20:23] sunilspr7 commented on #216
@SammyK - Please let me know that how facebook page Admin assign permission (CREATE_ADS perms) to any user from graph Api.

[2017-08-20 23:15] mvcmaker commented on #823
Hi @SammyK You're a little late to write this answer, our company has bankrupcied, so there's no need to solve this yet ;). I'm looking for a new job now. But I can remember since 13th July that this problem was solved and I was able to get the basic information from the access token.
Thanks!

[2017-08-25 04:39] mkormendy opened #845 "FacebookUrlManipulator parse_url() doesn't expect arrays"
I'm getting these PHP warnings:

[code]

Seems a little odd, no?

[2017-08-25 21:40] bArraxas opened #846 "my accessToken client can't be used by php"
Hello,

I use the Ionic Native Facebook plugin to generate an accessToken.
This key work at client side for :
- authentification
- get profil
- get friends
- the session stay active 60 days

But when I try to use this “accessToken” in php, the framework (facebook/graph-sdk) said me this :

Invalid appsecret_proof provided in the API argument
I have verifiy the app_id, app_name, app_secret is same

[2017-08-26 17:29] bArraxas commented on #846
Solved !

The prob is the fake compilation "ionic cordova build android"
If you change the app_id and app_secret (for example to pass of "test app" to "prod app"), the client app continue to use the first app references. So the token is wrong for php who use the good app_id and app_secret.

To solve it you need to execute "ionic cordova platform remove android" and "ionic cordova platform add andr

[2017-08-26 17:29] #846 closed

[2017-08-28 14:42] tolbon commented on #845
in PHP docs [parse_url](http://php.net/manual/en/function.parse-url.php) first args take a string.

What is the context of use ? It's your code who call ,`getParamsAsArray` or `removeParamsFromUrl`, or SDK internally ?

[2017-08-28 15:08] mkormendy commented on #845
I've moved on in a completely different direction my development. I cannot comment any further.

[2017-08-28 15:08] #845 closed

[2017-08-28 22:08] viv001 commented on #509
Hi folks, sorry I wasn't getting notified about these pings for some reason - We are now working to get this removed from our page completely and just point to the github repo docs. I will loop back on this as soon as I have an update.

[2017-08-28 22:21] yguedidi commented on #509
@viv001 Thank you!! Is it possible for @SammyK and I to have full access on this repo as we are the maintainers since years now? :)

[2017-08-28 22:22] viv001 commented on #831
Hi @SammyK, I am not sure what changed but I am not able to see the "Settings" page for this repo. Can you confirm that I am still an admin for it?

[2017-08-29 08:27] khiemtranthien commented on #438
For "facebook/graph-sdk: "5.5.0", "facebook/php-ads-sdk" : "2.9.*", **name** and **omit_response_on_success** should be in an array.

`$batch->add($myFriendsListRequest, array('name' => 'get-friends', 'omit_response_on_success' => false));`

[2017-08-30 18:53] viv001 commented on #509
@yguedidi For sure! I will just get the final approvals from our internal Open Source team and we should be good to go.
On a related note, I am not able to access settings for this repo anymore ; it doesn't seem like I am the admin - is there any way to confirm this?

[2017-08-31 20:04] SammyK commented on #509
Thanks @viv001! Yeah, I'm not able to assign issues to you so I'm guessing you're not admin of the repo anymore?

[2017-08-31 20:05] SammyK commented on #823
Oh noes! Sorry to hear that.

Glad you got it figured out! Good luck on the job hunt! :)

[2017-08-31 20:37] SammyK commented on #831
Your badge is showing up as "Contributor" for me instead of "Collaborator" or "Admin":

<img width="667" alt="screen shot 2017-08-31 at 3 36 52 pm" src="https://user-images.githubusercontent.com/578780/29944221-3ed2f790-8e62-11e7-8e26-7ad78bc15d38.png">

So I'm guessing not an admin. Doh!

[2017-08-31 21:39] gfosco commented on #831
Updated the default branch to 5.x.  Ping me on messenger or email if you need anything in a hurry, sorry for the delay.

[2017-08-31 21:39] #831 closed

[2017-08-31 21:41] SammyK commented on #831
Thanks @gfosco! And no worries! Good to see you in the space again :)

[2017-08-31 21:43] gfosco commented on #509
I added @viv001 back as an Admin on this repo.

[2017-09-01 06:33] ManishLSN opened #847 "long-lived(60 days) token not working offline"
i am able to get user profile wall post data, but i am getting two issues.

1) I can only fetch data of my profile from that i have created Facebook app.
I gues its because my app is still under development coz i have added some username in my tester list so i can also get their data. so i think so.

2) The token i am generating by this link
https://graph.facebook.com/oauth/access_token?client_id=

[2017-09-01 10:04] SJ04 opened #848 "Fatalexception 'Facebook\Exceptions\FacebookAuthenticationException' with message 'Fatal' in /workflows/facebook-autoupload/vendor/facebook/php-sdk-v4/src/Facebook/Exceptions/FacebookResponseException.php:131"
Hello ,

I have also issue with Facebook Graph API, I am Uploading the Video with Graph API and also doing the copyright process for those video but since one of the admin has changed the Main page password , I started to have this error,

[code]
Graph returned an error:
  'Facebook\Exceptions\FacebookAuthenticationException' with message 'Fatal' in /workflows/facebook-autoupload/vendor/facebook/p

[2017-09-01 19:40] yguedidi commented on #509
Thanks @viv001 and @gfosco !!! :)

[2017-09-01 19:43] yguedidi commented on #831
Thanks @gfosco! Happy to see you again too!

[2017-09-04 11:58] SJ04 commented on #473
Hello Guys,

Can I also please have any Help with my Issue.

I am having issue while copyright the video,.

https://github.com/facebook/php-graph-sdk/issues/848

i will be really helpful if i can receive any help.

thank you

[2017-09-06 08:40] anonymuos1 opened #849 "I don't get every permission granted"
Hi!

The problem I have is that after a while, when logging in, the Facebook does not give the same permissions as the user has. It didn't happen before, I don't know why now.  The login URL has the manage_pages and publish_pages permissions, but after I log in and check the Access token in the debugger (https://developers.facebook.com/tools/debug/accesstoken) in the scopes line there is barely an

[2017-09-07 07:59] ageofandy opened #850 "PHP 7.1 - mcrypt_create_iv is deprecated"
A PHP Error was encountered

Severity: 8192

Message: Function mcrypt_create_iv() is deprecated

Filename: PseudoRandomString/McryptPseudoRandomStringGenerator.php

Line Number: 57

[2017-09-07 11:02] SammyK commented on #850
This was fixed a long time ago. Make sure to update your version of the Facebook PHP SDK.

[2017-09-07 11:02] #850 closed

[2017-09-07 11:56] ageofandy commented on #850
Thx Sammy, didn't look in the PseudoRandomStringGeneratorFactory.

[2017-09-08 13:24] dykyi-roman commented on #620
its not help

[2017-09-10 20:38] rishabh0304 opened #851 "Error setting certificate verify location"
I don't know why I am getting this error on ubuntu :

**"Facebook SDK returned an error: error setting certificate verify locations: CAfile: /var/www/html/fb/vendor/HttpClients/certs/DigiCertHighAssuranceEVRootCA.pem CApath: /etc/ssl/certs"**

Although the same code runs fine on windows

[2017-09-13 19:54] #851 closed

[2017-09-16 09:11] huongthu opened #852 "When user birthday return only day and month"
According to the document here [https://developers.facebook.com/docs/graph-api/reference/user](https://developers.facebook.com/docs/graph-api/reference/user)

But seems that when privacy popup opens. There is one option that user will provide their birthday or not. I don't see option that user can choose to show their day and month only.

![untitled](https://user-images.githubusercontent.com/10508

[2017-09-16 10:24] sivapc commented on #550
Set time zone like this will solve the issue
date_default_timezone_set('America/Los_Angeles');

[2017-09-20 13:52] justinwray opened #853 "Hack Incompatibility"
The current 5.x and master branches are incompatible with Hack.  Within release 5.6.1 the incompatibility stems from two distinct issues:

* The Collection class had a namespace conflict with Hack's `HH\Collection` (https://docs.hhvm.com/hack/reference/interface/HH.Collection/).

* The `parse_str()` PHP function is disabled by default in Hack due to security concerns.  Furthermore, PHP is deprecat

[2017-09-20 15:31] SammyK commented on #853
Thanks for raising this issue @justinwray! I think the Facebook PHP SDK should certainly be compatible with Hack since it's an official Facebook project after all. :)

@yguedidi What are your thoughts about maintaining compatibility with Hack vs doing a fork of a 100% Facebook Hack SDK? I'm thinking just making sure the existing one is compatible, but I'm curious of your thoughts. :)

[2017-09-26 02:38] kada-zaouak commented on #853
- [ ] ``

[2017-09-27 14:58] jakopo87 opened #855 "long-lived access tokens does not have the expiration date"
When you obtain a long lived acces stoken through the OAuth2Client::getLongLivedAccessToken() method, its expiration date is null instead of 60 days

version 5.6.1

[2017-09-27 15:41] Savageman opened #856 "When the API is down, the client doesn't throw a FacebookResponseException"
The other day, the facebook API was not returning JSON content, but rather a HTTP error page (maybe it was down for a few seconds).

The `decodedBody` property contained a really strange JSON object (the first key was something like `<!doctype><html ` which I believe is resulting from decoding the HTML error string). This object obviously didn't have an `error` property, hence the request was cons

[2017-09-28 22:37] julienbornstein opened #857 "Incorrect phpdoc return type for GraphUser->getBirthday()"
Hello 😀
It seems that there's an incorrect return type in phpdoc In src/Facebook/GraphNodes/GraphUser.php for method getBirthday()
Current : @return \DateTime|null
Should be : @return Facebook\GraphNodes\Birthday|null

[2017-09-30 21:34] tinonetic commented on #531
Hi

Using the solution posted @kepner03, I am getting the error:

...on the line with

[code]

I am using it as is and am stuck on how to get it to work.

I am using API version 2.9 and I'm trying to post to a page using an App

[2017-09-30 23:09] tinonetic opened #858 "Failing to get an Facebook App to post to a Page's Wall, as that Page."
Hi,

I am struggling going round in circles getting an Facebook App to post to a Page's Wall, as that Page.

In brief:

1. I have the App Secret and ID
2. I have  Page ID
3. I am relying on an in-code approach to generating the token I need.
4. It is based on one of the answers I saw here but does not work : #521
5. I am using API v 2.9
6. I am using the latest PHP SDK

It's just been hard.

The s

[2017-10-02 16:53] SammyK commented on #848
Hey @SJ04! Once a user changes their password, all access tokens for that user get invalidated a security feature. You'll have to have the user authenticate your app again after changing their password to get a new access token. :)

[2017-10-02 16:53] #848 closed

[2017-10-03 00:53] Richard2012 commented on #583
To anyone still struggling with the
**Cross-site request forgery validation failed. The "state" param from the URL and session do not match.**
issue.

The comment from [@chrismerkele](https://github.com/chrismerkle) solved my problem.
In the login script on the
`$helper->getLoginUrl('https://mysite.com/fb_callback.php', $permissions)`
line you should watch carefully to include, or not to include,

[2017-10-08 08:09] ikedahideharu opened #859 "2017-9-13"
I am sorry for posting by mistake

[2017-10-08 13:48] #859 closed

[2017-10-11 14:50] prafullwizorbit opened #860 "Facebook Block my account although i give manage_pages permission with correct app id & App Secret"
![screenshot from 2017-10-11 20_03_11](https://user-images.githubusercontent.com/16131039/31448239-9633dcf0-aec1-11e7-87b8-974276a2f904.png)
![screenshot from 2017-10-11 20_02_46](https://user-images.githubusercontent.com/16131039/31448241-98842762-aec1-11e7-85f6-6227ecc3ca27.png)

[2017-10-12 06:33] sephirith opened #861 "What is the appropriate rule to use so Facebook transformer doesn't remove &nbsp;"
What is the appropriate rule to use so Facebook transformer doesn't remove

 from my code? I've tried using:

array(
'class' => 'PassThroughRule',
'selector' => '//p[.=codepoints-to-string((160))]',
//'selector' => '//p[.="\u0160"]',
),

[2017-10-14 07:06] tomekit opened #862 "Facebook\FacebookClient::__construct() must be an instance of Facebook\HttpClients\FacebookHttpClientInterface"
Hi,

I've installed the PHP SDK and trying to run it using example from the top README.

[code]

I get the:
[code]

What's the problem?

I run the `PHP 7.0.22-0ubuntu0.16.04.1 (cli) ( NTS )`

[2017-10-18 12:46] OwlLaboratory commented on #855
Maybe because you generated an extended token ? With no expiration date.
Check your token on https://developers.facebook.com/tools/debug/accesstoken?q={YOUR_TOKEN}

[2017-10-19 19:39] said-java opened #868 "Graph returned an error: (#200) Requires publish_stream permission"
$permissions = ['email','publish_actions']; // Optional permissions
try {
  // Returns a `Facebook\FacebookResponse` object
  $response = $fb->post('/iduserxxx/feed', $linkData, $accessToken);
} catch(Facebook\Exceptions\FacebookResponseException $e) {
  echo 'Graph returned an error: ' . $e->getMessage();
  exit;
} catch(Facebook\Exceptions\FacebookSDKException $e) {
  echo 'Facebook SDK returned

[2017-10-20 01:08] jasan-s opened #869 "deep linking from webapp to native app(question)"
I'm succesfully using Facebook login method on my webapp through browser facebook.

However if a user access my webapp using mobile device it requires them to login to facebook through browser even if they have the main facebook app installed on the device. Is it possible to launch login dialog using native facebook app with intent if available and if not fallback to facebook in browser.

I also a

[2017-10-20 15:58] D4FTjr opened #870 "error 100 "invalid parameter" during ad creation, impossible to find why.."
hi everyone,
I attempt to generate a complete adCampaign on the Facebook API Marketing since 1 week right now.
I'm trying to create an ad without this error (nothing more is precised... ...).
I've searched for a response but nothing was conclusive for me.

However, I can create campaign, adSet, adCreative without any issues.
I'm sure about all IDs.
Maybe a previous parameter block the process? But

[2017-10-23 08:03] vaggelis2018 commented on #868
Same here. The problem is that this permission is deprecated.

[2017-10-23 11:38] HanaaGhasoub opened #871 "How to add thumb field to Facebook video"
here my code used :note coverpath is full image path and i try to path image as bytes but the same error return.
`dynamic parameters = new ExpandoObject();
        parameters.source = new FacebookMediaObject
                            {
                                ContentType = string.Format("video/{0}", VideoExtension.Split('.')[1]),
                                FileName = VideoName

[2017-10-24 10:53] bobitza commented on #862
require 'facebook/autoload.php'; Try to use this

[2017-10-26 13:16] kanneg881 opened #872 "isLongLived()"
Hello I am come from Taiwan so may be would write down the wrong English grammar.
Please forgive for any inconveniences caused.

I found an issue about access token function isLongLived()
When I login on web with dialog to get short-lived access token
I saw my access object -> expiresIn: 87662
I don't know why I got it more than 2 hours.
But I think it still is a short-lived token.
So when I call

[2017-10-27 09:34] dungvaph03374 opened #873 "Graph returned an error: Can't Load URL"
Here my settings
App domain: mysite.com
Site URL: https://mysite.com/
Facebook Login product added, Valid OAuth redirect URIs: https://mysite.com/auth/fb-callback.php
App ID, App Secret, App Version configured, all other default
`$loginUrl = $helper->getLoginUrl('https://mysite.com/auth/fb-callback.php', $permissions);`

`https://www.facebook.com/v2.10/dialog/oauth?client_id=333686717095090&state=

[2017-10-28 18:04] sairochoa commented on #872
charge value
(60 * 60 * 2)
for (2)

[2017-10-29 04:15] ladhani opened #874 "Cross-site request forgery validation failed. Required param "state" missing from persistent data"
Server: CentOS Linux 7.4.1708 with VirtualMin
PHP: 7.0.10

I have a perfectly working Facebook LOGIN solution with SDK 4.
And pretty good experience with SDK 4.

When I install the SDK 5 with the example code for Facebook LOGIN, I am getting the following error from the callback:

=====================================
Facebook SDK returned an error: Cross-site request forgery validation failed. Re

[2017-10-29 09:14] yguedidi commented on #849
Thanks you for using the Facebook PHP SDK!

Looks like this is an error with the Graph API, so it's not related to the SDK... Please ask your question on StackOverflow.

[2017-10-29 09:14] #849 closed

[2017-10-29 09:20] yguedidi commented on #852
It's in the profile settings, the user can choose to not share his/her year of birth.

[2017-10-29 09:20] #852 closed

[2017-10-29 09:45] yguedidi commented on #853
@SammyK I'd agree that as a Facebook project, the SDK should by compatible with Hack. The issue is that Travis cannot run tests on latest HHVM version (see https://github.com/facebook/php-graph-sdk/blob/1f889b4ea9a739963ab78a81a3616ad0374ae3ad/.travis.yml#L23)

[2017-10-29 09:51] yguedidi commented on #856
@Savageman thanks for the notice! Can you send a PR that handle an invalid JSON? :)
I think you should also report this as a bug in the Graph API bug tracker ;)

[2017-10-29 09:51] yguedidi commented on #857
@julienbornstein Thanks for the notice! Can you send a PR that fix it? :)

[2017-10-29 09:59] yguedidi commented on #860
Thank you for using the Facebook PHP SDK!

It looks like this is not an SDK issue, please post your question on StackOverflow.

[2017-10-29 09:59] #860 closed

[2017-10-29 10:00] yguedidi commented on #861
Thank you for using the Facebook PHP SDK!

It looks like this is not an SDK issue, please post your question on StackOverflow.

[2017-10-29 10:00] #861 closed

[2017-10-29 10:02] yguedidi commented on #869
It looks like this is not an SDK issue, nor a PHP issue, please post your question on StackOverflow (again).

[2017-10-29 10:02] #869 closed

[2017-10-29 10:03] yguedidi commented on #870
Wrong repository, please post your question in the Marketing API PHP SDK repository! :)

[2017-10-29 10:03] #870 closed

[2017-10-29 10:05] yguedidi commented on #868
Requesting a permission doesn't mean the user will grant it. So there, looks like the logged in user didn't grant the publish permission.

[2017-10-29 10:05] #868 closed

[2017-10-29 10:06] yguedidi commented on #871
Thank you for using the Facebook PHP SDK!

It looks like this is not an SDK issue, please post your question on StackOverflow.

[2017-10-29 10:06] #871 closed

[2017-10-29 10:07] vaggelis2018 commented on #868
@yguedidi I found the solution to this. The problem was i had to explicit ask for pusblish asctions even if the app has already granted from facebook.

[2017-10-29 10:14] yguedidi commented on #873
Thank you for using the Facebook PHP SDK!

It looks like this is not an SDK issue, please post your question on StackOverflow.
BTW, check your app settings, there is a field named App Domains where you must enter your domain to allow it

[2017-10-29 10:14] #873 closed

[2017-10-29 10:18] yguedidi commented on #872
There is no `expiresIn` field...

[2017-10-29 10:24] yguedidi commented on #874
Looks like you solved the session issue by starting the session. Because yes, the SDK needs the session to work properly and session need to be started to be used! ;)
Regarding the other one, by translating it, it looks like you didn't allow your app domain in you apps settings.

[2017-10-29 10:24] #874 closed

[2017-10-29 10:30] yguedidi commented on #315
@junaidatique is it working now?

[2017-10-29 10:47] kanneg881 commented on #872
@yguedidi

Refer to the URL below
https://developers.facebook.com/docs/reference/javascript/FB.getLoginStatus

[2017-10-29 10:48] yguedidi commented on #605
@ollietb thanks for your comment! I'll merge it soon ;)

[2017-10-29 11:03] yguedidi commented on #872
@kanneg881 Your link points to the Javascript SDK

[2017-10-29 11:14] yguedidi commented on #862
is this solved? it looks like an error due to autoloading

[2017-10-29 11:21] tomekit commented on #862
Since the app I was working on used: `"facebook/php-sdk-v4" : "4.0.*"` previously, I've given up on this SDK, as was pushed by time and used that particular version, which worked fine.
Let's close this, it's no longer an issue for me.
Thanks for your help anyway !

[2017-10-29 11:21] #862 closed

[2017-10-29 15:44] ladhani commented on #874
Hi Yassine,

Thanks for your reaction.

About the other one, I am very very very sure that I did allow the App
domain in my app setting.

Just to be completely sure, I did replace on exactly the same URL, the
code that uses SDK V4 and this one works perfectly.

Next, I replaces back the SDK V5 code (of course double checking that
the call-back URL is exactly the same in both cases) and I got back

[2017-10-30 09:12] HanaaGhasoub commented on #871
who said i used php sdk ? and i posted my question at all programming sites , thanks for your support

[2017-11-01 08:30] om3 opened #875 "Getting identification screen."
Hello, In my website I would of like that when Facebook app is running and authenticated my visit not receive Identification screen. I want only the permission about the website.

Any can help me?

Thank you

[2017-11-01 14:24] junaidatique commented on #315
yes. I did some changes in the library I think so. The issue is resolved. thanks for your help.

[2017-11-01 14:26] ankitjain28may opened #876 "SIGN UP/IN with FB should open the apps while using the web platform on mobile (if FB app is installed)"

[2017-11-02 18:13] Miles8of9 opened #877 "Facebook SDK not working for me (solved) (bug)"
Just a quick note to explain the problem and its solution: copying and pasting example code returns an error 191 telling that the callback url isn't allowed and pointing you to app settings inside facebook.
What? It's impossible! Check multiple times.. No.. the url is right! So, why?

Solution 1 add callback url to getAccessToken in your code:
$accessToken = $helper->getAccessToken("http://www.you

[2017-11-07 11:22] ChiefScript opened #879 "Access token"
How can I get the inbox messages for user account that owns the app (ie. from which both the APP ID and SECRET are generated from)? From the documentation I understand that the access token has to be generated after login. Does that mean I have I have to pass the login credentials each time I want to run the job?

[2017-11-08 07:42] czachor opened #882 "Undefined index 'email' in \Facebook\GraphNodes\Collection when e-mail requested, but not provided"
I'm trying to fetch user data from Facebook. Users log in with Facebook Login using JS SDK (scope: "public_profile,email").
After sucessful login, there is the code:

        $obj_fb = new \Facebook\Facebook([
            'app_id' => '11.....111',
            'app_secret' => 'xxxx',
            'default_graph_version' => 'v2.10'
        ]);

        $helper = $obj_fb->getJavaScriptHelper();

[2017-11-09 11:27] barkermn01 opened #884 "the Process flow for calls are to big to be any help debugging"
This API is great and all until you have a problem then it becomes as useful as a chocolate fireguard when a developer is trying to debug a problem, I mean you have that many methods calls it becomes impossible to debug reasonably in an application using it.

`Fatal error: Uncaught Facebook\Exceptions\FacebookAuthenticationException: Error validating access token: The session has been invalidated

[2017-11-24 08:39] poolerMF opened #886 "not following 30X redirects"
https://github.com/facebook/php-graph-sdk/blob/2f9639c15ae043911f40ffe44080b32bac2c5280/src/Facebook/HttpClients/FacebookCurlHttpClient.php#L101

curl option **CURLOPT_RETURNTRANSFER** is not about redirects
there should be new default option **CURLOPT_FOLLOWLOCATION** with value **true**

[2017-12-02 07:38] Nyholm commented on #605
This could now be closed

[2017-12-02 07:50] kada-zaouak commented on #605
merci

[2017-12-03 19:38] yguedidi commented on #605
Closed by #641

[2017-12-03 19:38] #605 closed

[2017-12-03 20:17] yguedidi opened #890 "Singularize namespaces"
- `Facebook\Exceptions` -> `Facebook\Exception`
- `Facebook\GraphNodes` -> `Facebook\GraphNode`
- `Facebook\Helpers` -> `Facebook\Helper`

[2017-12-03 23:14] yguedidi commented on #886
@poolerMF Thanks for the report! Do you have a case where you need to follow the redirect?
I'm not sure Graph API uses Location header..

[2017-12-04 00:14] #886 closed

[2017-12-04 11:36] yguedidi commented on #890
Closed by #894

[2017-12-04 11:36] #890 closed

[2017-12-04 16:44] ryanml commented on #735
@yguedidi if this is still desired I think I'd like to take this on :)

A couple of questions:

1. I'm assuming this wouldn't allow an arbitrary mime type,  rather it would be validated against the array of $mimetypes in the Mimetypes class under the Facebook\FileUpload namespace?

2. Mimetypes are usually defined by a file's extension/the HTTP PUT request context. In the case a user passes a "vid

[2017-12-04 17:40] SammyK opened #895 "Update contributing guidelines with branch info"
Per #887, let's add some copy in the contributing guidelines that explain which branch to commit to. Thanks @flarnie for the idea! :)

[2017-12-04 19:09] yguedidi commented on #895
@SammyK a first step is there, #892, just waiting for your review :)

[2017-12-04 19:15] yguedidi commented on #735
As we now use HTTPlug, there must be a spec session on how to handle file upload with HTTPlug ;)
Check the possible Future work section in #641, there are lot to do with the HTTPlug integration

[2017-12-04 19:24] SammyK commented on #895
Sorry I missed that - thanks! :)

[2017-12-04 19:24] #895 closed

[2017-12-05 07:13] anuj9196 opened #898 "Facebook is returning no error on upload of video"
I'm using PHP SDK to upload video to my facebook page authenticated with access token.

[code]

On uploading video, Debug lines print upto **||| Try Block** and not printing **||| Try success** or any catch statement.

**What could be the error?**

[2017-12-05 12:17] yguedidi commented on #609
Closed by #888

[2017-12-05 12:17] #609 closed

[2017-12-05 17:22] yguedidi commented on #608
Closed by #643

[2017-12-05 17:22] #608 closed

[2017-12-05 17:23] yguedidi commented on #857
Closed by #885

[2017-12-05 17:23] #857 closed

[2017-12-07 15:43] mateocam opened #902 "Can't use version parameter"
I am trying to use the version parameter to specify the version of the graph api I want to use, but it doesn't work.

This is my code:
fb_graph_version = "2.10"
graph = facebook.GraphAPI(access_token=api_key,version=fb_graph_version)
res = graph.get_object(object_endpoint)

And this is the error I get:
Version number should be in the following format: #.# (e.g. 2.0).

I also tried changing fb_grap

[2017-12-13 22:45] yguedidi commented on #902
@mateocam looks like your code is not PHP, while this is the Graph PHP SDK... So I'm closing this. Please use StackOverflow for help.

[2017-12-13 22:45] #902 closed

[2017-12-13 22:47] yguedidi commented on #898
@anuj9196 maybe another exception is thrown, so just add a 3rd `catch` block for `\Exception` (or `\Throwable`). Tell me if it's the case, so we can close this.

[2017-12-13 23:04] yguedidi commented on #882
@czachor thanks for the report!
I think you should either wrap your call with `if (isset($user_data['email']))` (which is common with arrays) or use `$user_data->getField('email')`

[2017-12-13 23:06] yguedidi commented on #879
@ChiefScript please use StackOverflow to ask for support. Closing.

[2017-12-13 23:06] #879 closed

[2017-12-13 23:09] yguedidi commented on #877
@Miles8of9 thanks a lot! Can you send a PR for the solution 2 targeting the 5.x branch as it's a bugfix? :)

[2017-12-13 23:09] #876 closed

[2017-12-13 23:10] yguedidi commented on #876
@ankitjain28may closed as it's not clear

[2017-12-13 23:11] yguedidi commented on #875
@om3 please use StackOverflow to ask for help. Closing.

[2017-12-13 23:11] #875 closed

[2017-12-13 23:13] yguedidi commented on #872
@kanneg881 any news on this?

[2017-12-13 23:16] yguedidi commented on #858
@tinonetic looks like there is no bug with the SDK, so please use StackOverflow to ask for help, thank you. Closing

[2017-12-13 23:16] #858 closed

[2017-12-14 03:02] kanneg881 commented on #872
@yguedidi
My target is always get the unexpired access token,
I didn't use isLongLived() to check should I get the new long-lived access token.
If access token expire time is close maybe a week.
I will get the new long-lived access token

Refer to the URL below
https://developers.facebook.com/docs/facebook-login/access-tokens/expiration-and-extension

[2017-12-14 09:33] czachor commented on #882
@yguedidi Tested, `$user_data->getField('email')` produces the same error message :(

[2017-12-14 10:41] Himanshu77 opened #904 "Can't fetch users data."
Hello,

1.) I am using below graph API to search users
https://graph.facebook.com/v2.10/search?q=TEXT_HERE
Using graph API i am fetching only id, name and cover photo only for users, Can you please tell me to get other info for users.
Is there any way to get other fields? Please share every possible way to find it.

2.) How can i filter with the #hashtag using PHP sdk ? Filter is only working with

[2017-12-15 07:30] webmasterlv commented on #882
I have the same issue. This is the only notice in my project since everything else i have cleaned up.

[2017-12-15 16:11] yguedidi commented on #882
@czachor weird... look at [the `getField()` body](https://github.com/facebook/php-graph-sdk/blob/5.x/src/Facebook/GraphNodes/Collection.php#L66-L73), it should return `null` if the key doesn't exist

[2017-12-18 23:15] #440 closed

[2017-12-21 17:36] JeanSauzem opened #908 "Fixed Comment"
in sdk you have the option to fix comment ?

[2017-12-22 07:33] jdanarola commented on #862
I am facing same issue.
I also tried require 'facebook/autoload.php'; still not working.
please provide solution to it.

[2017-12-22 12:15] jdanarola opened #909 "Issue with facebook object"
I've installed the PHP SDK and trying to run it using example from the top README.

$fb = new \Facebook\Facebook([
    'app_id' => '<id>',
    'app_secret' => '<secret>',
    'default_graph_version' => 'v2.11'
]);
PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Facebook\FacebookClient::__construct() must be an instance of Facebook\HttpClients\FacebookHttpClientInterface, instance of Fac

[2017-12-22 12:16] jdanarola commented on #909
I have tried with various ways but still it  gives issue. could you please guide me how to resolve it ?
Thanks

[2017-12-22 20:14] borismalezyk opened #910 "Posting video on many pages with BatchRequest and "thumb" parameters"
I try to post a video on many pages with BatchRequest and "thumb" parameters, however it does not post the thumb as the video's thumbnail.

`$fb = new \Facebook\Facebook([
  'app_id' => $appId,
  'app_secret' => $appSecret,
  'default_graph_version' => 'v2.10',

]);

$fb->setDefaultAccessToken($accessToken);

foreach($pages as $page) { //array of page id
  $query = sprintf('/%s?fields=access_token

[2017-12-22 20:21] shahidahussin88 commented on #910
@facebook/php-graph-sdk (mailto:reply@reply.github.com|24) ?

—
Have a good MailTime (http://mailti.me/m|9)

On Sat, Dec 23, 2017 at 4:14 AM, Boris MALEZYK <notifications@github.com (mailto:notifications@github.com|25)> wrote:

[2017-12-26 08:40] saubhagya777 commented on #783
# ddaaaa

[2017-12-27 05:35] anuj9196 commented on #898
No luck. This is how my code looks now
[code]

[2017-12-27 10:18] farhanakram1 commented on #826
?

[2017-12-27 10:20] farhanakram1 commented on #826
Facebook SDK returned an error: Cross-site request forgery validation failed. Required param "state" missing from persistent data.

[2017-12-27 10:21] farhanakram1 commented on #826
Facebook SDK returned an error: Cross-site request forgery validation failed. Required param "state" missing from persistent data
Solution.....................????

[2018-01-05 09:46] adithyamahesh596 commented on #274
Can any one provide the solution in JavaScript?

[2018-01-06 09:29] developerKumar opened #911 "Facebook SDK returned an error: Cross-site request forgery validation failed. Required param "state" missing from persistent data."
I am getting the following error :
Facebook SDK returned an error: Cross-site request forgery validation failed. Required param "state" missing from persistent data.

below is the code. Please help.
Thanks

$helper = $fb->getRedirectLoginHelper();

try {
  $accessToken = $helper->getAccessToken();
} catch(Facebook\Exceptions\FacebookResponseException $e) {
  // When Graph returns an error
  echo '

[2018-01-06 09:58] #911 closed

[2018-01-11 13:30] bcharpentier17000 opened #914 "Url generated by getLoginUrl() doesn't exists"
Here is my code :
`$fb = new Facebook\Facebook([
    'app_id'                => RsConfig::getInstance()->load('facebook')->get('facebook.app_id'), // Replace {app-id} with your app id
    'app_secret'            => RsConfig::getInstance()->load('facebook')->get('facebook.key'),
    'default_graph_version' => RsConfig::getInstance()->load('facebook')->get('facebook.version'),//v1.11
]);

$helper =

[2018-01-11 13:40] bcharpentier17000 commented on #914
Sorry just missed the v of v2.11

[2018-01-11 13:40] #914 closed

[2018-01-11 22:43] ImFireblade commented on #529
I'm having the same problem. I have the latest version and i'm using lumen
![cattura](https://user-images.githubusercontent.com/33683776/34851155-10a2656a-f729-11e7-9b2b-a559c758d778.PNG)
What should i do?
Thank you.

[2018-01-12 08:00] howlittlegrass opened #915 "Always meet the error that "Sorry, the report cannot be loaded successfully. Please check if your job status is completed..." when I calling AdAccount::getInsightsAsync"
Hi, php-graph-sdk team,

My code like:

    `$async_job = (new AdAccount($account_id))->getInsightsAsync($fields, $this->params);
     while (!$async_job->read()->isComplete()) {
            sleep(1);
     }`

I always met the error: "Sorry, the report cannot be loaded successfully. Please check if your job status is completed instead of failed or running before fetching the data."

But I have che

[2018-01-12 15:51] kacurez opened #916 "implement strict mode compatible authorization"
**`UPDATE`** : if I generate the state parameter on my own then `response_type=code` auth is working with strict mode turned on. So implementing oauth via `response_type=token` is not necessary, moreover `response_type=token` is for client-side authorization as it generates callback url with url params separated by hash(`#`) and not question mark(`?`).  However I don't know why state value generat

[2018-01-15 23:13] leeppolis opened #917 "Unclear docs"
I cannot understand how to issue an API call to get URL info with the PHP SDK.
The example code in the documentation available here: https://developers.facebook.com/docs/graph-api/reference/v2.11/url seems to be incomplete.

[code]

In this example, the `$url` variable is completely missing. I tried adding `?id=$link` to the endpoint, but it does not work. Is there a place where I can find more do

[2018-01-20 06:18] Simon1207 opened #919 "Response Exception: An unknown error has occurred."
When i'm log in with my fb-callback.php an unknown error has ocurred. i've tried with Graph api tool and it works but in the code i can't fix the error. my code is the next

`<?php
	require_once "config.php";
	try{
		$accessToken=$helper->getAccessToken();
	}catch(\Facebook\Exceptions\FacebookResponseException $e){
		echo "Response Exception: " .$e->getMessage();
		exit();
	}catch(\Facebook\Except

[2018-01-20 17:50] Project-FB opened #920 "$account->getAdSets is an Unsupported get request"
This is the code I'm using

require __DIR__ . '/vendor/autoload.php';

use FacebookAds\Api;
use FacebookAds\Object\AdAccount;
use FacebookAds\Object\Fields\AdSetFields;

Api::init(
  '<APP ID>',
  '<APP SECRET>',
  '<ACCESS TOKEN>'
);

$account = new AdAccount('act_357674657998325');
$adsets = $account->getAdSets(array(
  AdSetFields::NAME,
  AdSetFields::CONFIGURED_STATUS,
  AdSetFields::EFFECTIV

[2018-01-22 14:16] butavpaul opened #921 "Post on pages"
Hi. In my admin panel I'm using php sdk v2.5 for posting my content on my own pages! 'publish_pages' and 'manage_pages' are not approved because is for admins use only and until now it worked perfectly. I have more than 20 pages so I've used this method to post the content.
Without any response from the sdk, now is not working anymore. I've tried also to program or direct post on my pages but it d

[2018-01-24 16:22] ilusha2012 opened #922 "Email has stopped returning to the request."
Hello!

A few days ago, the email stopped responding to the request. Only id and name.

`$fb->get('/me?fields=id,name,email', $token)`

[2018-01-26 06:35] liangyawei commented on #543
I have the same problem,who can help me slove this ?

[2018-01-26 11:54] ashutoshpw commented on #543
The problem is that some shared hosts disabled scraping and due to which you cannot access facebook graph API endpoint and be getting this error. I will suggest to use the direct CURL APIs to check if you are able to access facebook api endpoint

[2018-01-29 06:20] vikaskumra commented on #653
Actually, facebook use curl or file_get_contents function to request an access token, it checks if curl is enabled or not, if curl is enabled on server, it tries to make request using curl otherwise it use file_get_contents to make request and get response. In my case, both allow_url_fopen as well as curl was disabled on server so i was getting the following error:

Facebook SDK returned an error:

[2018-01-29 17:11] ezekel opened #923 "Facebook\Exceptions\FacebookAuthenticationException: (#324) Requires upload file in"
I need some help please, why this error occurs "Facebook\Exceptions\FacebookAuthenticationException: (#324) Requires upload file in" when I upload photo , sometimes it works fine then when I upload again it shows that error again.

here is my code

[code]

Thank you in advance.

[2018-01-29 17:27] ezekel opened #924 "FacebookAuthenticationException: Error validating access token: Session has expired"
I have my useraccesstoken that was generated in graph api explorer. and also I extend it that it will never expire.. so I tried to use the token to get pageaccesstoken. and it works, I have done this in postman,now when I used this in my server sometimes works fine after second attempt of requesting like uploading , now I get error session is expired. then I get back to postman with same procedure

[2018-01-30 05:24] ezekel opened #925 "Automatic login"
Hi is it possible that the user will not redirect to login to get the short live useraccesstoken?because in my website i have a form to be filled by the registerd users then when they submit the form it will also post to my facebook page. Is this possible?

Thank you in advance

[2018-01-30 14:50] borismalezyk commented on #910
up ?

[2018-01-31 22:20] pardoxp opened #927 "Scrape links via PHP SDK vs Explorer"
I'd like to know the difference between using scrape via PHP sdk and Explorer, in my particular case using SDK PHP I have a function in a class basically with this little snippet of code
`try{
        $scrape = $this->getFacebook()->post('/',array (
            'scrape' => 'true',
            'id' => $link
        ),
            $accessToken
        );
       $data['link'] = $link;
       $post =

[2018-02-01 13:27] martinjankov opened #928 "Guzzle Client"
How about you guys make it compatible with guzzlehttp/guzzle version 6.3, that is the latest version.

I am using the latest version and it started throwing errors like 3rd argument expected to be array but string send in client->request. I downgraded to 5.3 and it was working for facebook, but not for the other request I was making using Guzzle.

[2018-02-01 14:23] Nyholm commented on #928
Hey.
We just went with the HTTPlug abstraction. That will be compatible with the [PSR for HTTPClients](https://github.com/php-fig/fig-standards/blob/master/proposed/http-client/http-client.md). I can also promise you that the next version of Guzzle will support the same PSR.

[2018-02-03 15:05] sam4jips opened #929 "how to set and retrieve state param manually?"
Since strict mode is going to be compulsory in March, I need a way to get some data after user redirects back to my site after login flow?

i looked everywhere but still couldn't find how to use state param? is there even any way? can anyone explain?

[2018-02-03 15:09] sam4jips commented on #916
how did you set the state parameter manually? please teach me. I looked everywhere but couldn't find anywhere.

[2018-02-04 12:01] karansiso opened #930 "Error whilie installing through composer"
Problem 1
    - The requested package facebook/graph-sdk No version set (parsed as 1.0.0) is satisfiable by facebook/graph-sdk[No version set (parsed as 1.0.0)] but these conflict with your requirements or minimum-stability.

[2018-02-04 17:28] Nyholm commented on #930
It looks like you have a syntax error in your composer.json.
Try running

[code]

[2018-02-05 03:26] kacurez commented on #916
The api of this library does not offer to put state parameter so I ended up implementing the oauth process on my own without any use of this library.

[2018-02-05 13:59] AngelTs opened #931 "How to insatll without composer. Not shell account"

[2018-02-05 14:01] sam4jips commented on #916
actually i found the solution. you can set state manually if you want.

$helper = $fb->getRedirectLoginHelper();
$helper->getPersistentDataHandler()->set('state', $state);
$helper->getPersistentDataHandler()->get('state');

[2018-02-05 14:17] Nyholm commented on #931
I would highly recommend you using composer. If your prod env does not allow you to use cli (which they should) then configure your CI server with a different deploy method.

[2018-02-06 08:43] claudeschneider commented on #916
We're getting the same problem - oAuth it fails with the same error mentioned above (domain of URL isn't included in the app's domain)

Facebook also gave the same response, that the presence of ?code= in the redirect URL materially changes the redirect URL, and thus stops strict mode from working.

Even though the official docs still mention using "code" to get a response that can be exchanged fo

[2018-02-06 16:21] cannond13 commented on #916
@kacurez if you manually updated the source code of the SDK on your server -- you are not using Composer?  or you thought the change was a worthwhile deviation from your composer.lock settings?

@sam4jips  once you were able to manually retrieve / set the state parameter, how do you combine that with the other LoginURL parameters -- especially scope?

I'm new-ish to development but wanted to add s

[2018-02-07 14:06] leoapsilva commented on #882
Hi @yguedidi
I think the problem is not the index or the methods to prevent the error.
I my case (maybe could be @czachor, @webmasterlv also) the user granted the permission, but the email does not been returned.
I've check all declined permissions then I call `$helper->getReRequestUrl`.
So, all permissions I asked are granted or the user cannot login.

![image](https://user-images.githubuserconte

[2018-02-07 14:27] leoapsilva opened #932 "Email Permission is granted but email does not return"
The user granted the 'email' permission, but the email does not been returned.
I've check all declined permissions then I call `$helper->getReRequestUrl`.
So, all permissions I asked are granted or the user cannot login.

![image](https://user-images.githubusercontent.com/11687748/35918342-92c503f2-0bf8-11e8-9193-95e0eaebbf05.png)

I've noted for some those users these permissions are not returned

[2018-02-08 02:44] kacurez commented on #916
@cannond13 I manually updated code as an experiment just to prove that the problem is in `state`. I think the problem is in its length - 32 characters afaik. Finally I implemented oauth without this library generating `state` of 16 characters long and it is working.

[2018-02-08 09:17] bobc82 opened #933 "Sorry, something went wrong (app works only when i set permissions for email field)."
I wrote some code example on my website for facebook login api, and i followed this tutorial:
[https://github.com/facebook/php-graph-sdk/blob/5.x/docs/examples/facebook_login.md](https://github.com/facebook/php-graph-sdk/blob/5.x/docs/examples/facebook_login.md)

When i set email optional permission, the example works fine and i can read the email and name of the user facebook profile:
[code]

If

[2018-02-08 09:24] bobc82 commented on #933
Sorry, i understand now: options for permissions are:

- email
- public_profile
- user_friends

[2018-02-08 09:24] #933 closed

[2018-02-08 13:56] gmertk commented on #932
Hi @leoapsilva, it looks like it is actually related to the platform itself rather than this SDK. If you still get the same response from Graph Explorer https://developers.facebook.com/tools/explorer/145634995501895/ then the issue isn't related to the SDK.

[2018-02-08 18:05] timwhitlock commented on #877
Thank you @Miles8of9. I spent several hours checking and re-checking my settings. Even going as far as setting up real domains for my local hosts.

With strict URI checking becoming compulsory in March, I imagine lots more people will fall foul of this.

[2018-02-09 15:13] sollemar opened #934 "Strict Mode for Redirect URIs = not working with PHP Sdk"
If I enable "Use Strict Mode for Redirect URIs", I get the following error from the PHP SDK, but the App Domains are set correctly.

Facebook Graph returned an error: URL kann nicht geladen werden: Die Domain dieser URL ist nicht in den Domains der App vorhanden. Um diese URL laden zu können, füge alle Domains und Subdomains deiner App im Appdomain-Feld in deinen App-Einstellungen hinzu.

I can fi

[2018-02-09 16:30] Xiscollado opened #935 "Feed redirect without post_id"
Despite i have publish_permissions granted, i don´t receive post_id from facebook when an user shares a feed. Any idea? It´s been working since two weeks ago without problems.

[2018-02-10 15:55] sempiterna opened #936 "Facebook Strict Mode and state parameter"
In march, facebook will require Strict Mode, and since the "Valid OAuth redirect URIs" field does not allow for dynamically generated data, dynamic data should be passed with a state paramer (according the facebook docs). As it stands now, facebook login in my application will fail completely in march due to these restrictions:

The domain is added to App Domains, and the error disappears when a "

[2018-02-12 16:00] jsleetw commented on #934
Try
$accessToken = $helper->getAccessToken();
to
$accessToken = $helper->getAccessToken($this->get_fb_callback_uri());

see:
https://stackoverflow.com/questions/47898499/error-on-login-using-facebook-php-sdk-with-strict-mode-enabled

[2018-02-12 20:09] sollemar commented on #934
OK, that works, thanks.

[2018-02-12 23:29] NickStallman commented on #936
I do it like this:

`			$helper = $fb->getRedirectLoginHelper();
			$pdata = $helper->getPersistentDataHandler();
			$pdata->set('state', $what_you_want_as_state);`

However there is a further bug which I will do a pull request for.

[2018-02-13 07:08] pratika2395 opened #937 "Graph returned an error: Error validating access token: The session has been invalidated because the user changed their password or Facebook has changed the session for security reasons."
It worked fine till yesterday.. but today its not working.. Why this error has occured. I generated a new token with extended access token expiry(2 months).

[2018-02-13 10:11] sergentrif opened #938 "Access Token should not be mandatory"
When I tried to request `GET /oauth/access_token` to obtain an App Token,  I received the FacebookSDKException `You must provide an access token.`.

But the purpose of this route is to get an access token because we don't have one. I made it work by setting a fake Access Token with value `fake-token` but it's a little tricky.

[2018-02-13 20:21] sempiterna commented on #936
Thank you for this, NickStallman. I got it somewhat working now. Though it now makes my own application potentially less safe. These breaking changes soon to be enforced by Facebook basically disallow the use of wildcard subdomains (which I use since very user has its own subdomain in my app, and thus also a php session confined to the subdomain).

Now, for Facebook login, I have to redirect the u

[2018-02-13 21:42] nchankov opened #939 "Can't load URL: The domain of this URL isn't included in the app's domains."
Got an issue, when I am trying to login with php sdk with Strict mode in OAuth section enabled.

The functionality working as expected when the strict mode is disabled, but if it's enabled, I got  exception `Facebook\Exceptions\FacebookResponseException` with the error:

*Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and su

[2018-02-14 03:30] deepeshdkpathak opened #940 "Can't Understand Why Facebook Block App"
Hi

I am developer and use Facebook php sdk more then 9 years in different project and I am writing this on behalf of developer. For each user action like Facebook login and Facebook login with share we ask permission from Facebook 'public_profile', 'user_photos' and 'publish_actions', 'public_profile', 'user_photos'. If user comes first time for our app then Facebook show popup for permission ask

[2018-02-14 19:10] mdevine82 commented on #939
So I'm not sure if this is root of the problem but Facebook doesn't like any parameters as part of the redirect URL when making the call for getAccessToken() after the initial callback.  I want to clarify that this isn't a fix, so feel free to try it but don't implement it into your application.

Here is the call in the library within: FacebookRedirectLoginHelper.php.
[code]

I noticed that after

[2018-02-14 23:11] #877 closed

[2018-02-14 23:30] yguedidi commented on #934
@sollemar just released the 5.6.2 version that fixes this issue! see #913

[2018-02-14 23:30] #934 closed

[2018-02-14 23:31] yguedidi commented on #936
@sempiterna  just released the 5.6.2 version that fixes this issue! see #913

[2018-02-14 23:31] #936 closed

[2018-02-14 23:33] yguedidi commented on #939
@nchankov  just released the 5.6.2 version that fixes this issue! see #913, feel free to reopen this if your issue is not solved

[2018-02-15 00:11] nchankov commented on #939
Thanks Yassine, indeed it fixed the issue. Any idea when this will be updated in the composer, so I could update it with it?

Thanks for both of you for identifying it and fixing it!

[2018-02-16 07:24] Lukasoncz opened #943 "When will the composer provide version 5.6.2?"
https://packagist.org/packages/facebook/graph-sdk currently only 5.6.1, thanks.

[2018-02-16 17:48] leoapsilva commented on #932
Hi @gmertk, thanks for your reply. But I did not understand what the context of 'the platform itself'.
Could you elaborate more?
If I had the all the users authenticating and granting email permission and facebook 'omitting ' the email I would think it was my code.
But some of them populate the index 'email' of facebook's return array and some does not as I sad.
Do you have any other idea?
Thanks

[2018-02-16 18:06] leoapsilva commented on #932
Hi @gmertk, as you suggest, I found the token of some users the **email permission is granted** but the email does not return and put on Graph Explorer.
As I expected, the email of this user does not return as you can see below:

![image](https://user-images.githubusercontent.com/11687748/36321796-3733ab7e-1332-11e8-8ee0-b806dda83099.png)

![image](https://user-images.githubusercontent.com/1168774

[2018-02-16 21:14] gmertk commented on #932
Hi @leoapsilva if you click the "Show" button next to "3 Debug Messages", you can see the warning about missing email. As I mentioned, this isn't about the PHP SDK. Facebook Platform doesn't return the email by design when the email isn't reachable or when the user doesn't have a confirmed email.

[2018-02-18 08:30] mubasharbinafzal opened #945 "Facebook SDK returned an error:"
Cross-site request forgery validation failed. Required param "state" missing from persistent data.

[2018-02-18 08:31] mubasharbinafzal commented on #945
on localhost this code is running but on server throw this error

[2018-02-18 08:34] mubasharbinafzal commented on #945
Facebook SDK returned an error: Cross-site request forgery validation failed. Required param "state" missing from persistent data.

[2018-02-19 15:40] tafelnl opened #946 ""The domain of this URL isn't included in the app's domain" only in WebView version of website."
I have a fully working Web OAuth login flow. When I login via the web version of the site, it works. I also have an app for Android with a simple WebView which shows the site. If I try to login that way, I get the following error message: `The domain of this URL isn't included in the app's domain`.

This only happens when "Strict Mode" is turned on.

So to be clear: "Strict Mode" does actually wor

[2018-02-19 19:03] joeyazar opened #947 "Facebook PHP SDK Website login"
I'm trying to add login with facebook to my website using the PHP SDK v2.12. This isn't my first time but something wrong is happening. I created my app, added the domain of my site (example.com), and the site url (http://example.com/).

Every time i try to login i get

    Can't Load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and

[2018-02-20 10:22] snghaprv opened #948 "getting error - "An unknown error has occurred." too frequently on graph api v2.6 ."
We are getting {"error_message":"An unknown error has occurred.", "error_code":"1" } in the response.

[2018-02-21 01:36] shoguniphicus commented on #877
This needs to be put into production code, otherwise by March 2018, lots of production site will not be able to login since this is a forced implementation by Facebook

[2018-02-21 09:10] sandermuru commented on #947
The most likely problem is because of a bug PHP SDK, see #913. Packagist isn't still yet updated, so you should download code from Github.

If you don't want to download code manually, there's another way to fix it in the mean time: https://stackoverflow.com/questions/47898499/error-on-login-using-facebook-php-sdk-with-strict-mode-enabled.

[2018-02-21 09:13] sandermuru commented on #946
See my comment here: https://github.com/facebook/php-graph-sdk/issues/947#issuecomment-367259245

[2018-02-21 14:36] mdevine82 commented on #943
Something must be wrong with the webhooks to automatically update Packagist on a new tag.  It just updated this morning though.

[2018-02-21 14:37] mdevine82 commented on #947
Packagist just updated recently and is showing 5.6.2.

[2018-02-21 16:00] tafelnl commented on #946
Thanks. I don't know why the fix mentioned on Stackoverflow worked. But it did. Thank you very much!

[2018-02-21 16:03] sandermuru commented on #946
Because 5.6.2 is now also available from Packagist, you should revert Stackoverflow changes and update SDK.

[2018-02-22 14:24] saulirajala commented on #619
I agree with @AidasK. The same issue happened today when Facebook API had some technical problems and was down for a while at least here in Finland. Because of unresponsiveness of API, the first argument for constructor of `class FacebookResponse` was `null`, which caused fatal error.

Event though these cases are edge cases, I think SDK should be able to survive from it without fatal error. I'm n

[2018-02-23 07:23] yguedidi commented on #946
Thanks @sandermuru for your help!

[2018-02-23 07:23] #946 closed

[2018-02-23 07:26] yguedidi commented on #877
SDK 5.6.2 is now on Packagist :)

[2018-02-25 07:55] burnacid commented on #948
I'm having the same problem. It isn't consistent though.

On a Get request for `/289622754558083/feed?fields=id,properties,from,message,created_time,updated_time,link&limit=1000
`
{"error":{"code":1,"message":"An unknown error occurred","error_subcode":99}}

[2018-02-25 12:04] yguedidi commented on #948
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 12:04] #948 closed

[2018-02-25 12:17] yguedidi commented on #929
@sam4jips what's your need exactly? Properly support strict mode is done in version 5.6.2. The state parameter is there only to prevent CSRF attacks, and it's handled automatically by the SDK, how you want to use it?

[2018-02-25 12:33] yguedidi commented on #945
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 12:33] #945 closed

[2018-02-25 12:46] yguedidi commented on #882
Thanks @all for all thoses details!

Here what the doc says:
![image](https://user-images.githubusercontent.com/1480128/36641585-21df15a4-1a32-11e8-83bc-e7a5862f8df9.png)

So I'm closing this as it looks like not and SDK issue, but a user who change his/her email adress to an invlid one.

[2018-02-25 12:46] #882 closed

[2018-02-25 12:46] yguedidi commented on #922
Thanks for the report!

Here what the doc says:
![image](https://user-images.githubusercontent.com/1480128/36641585-21df15a4-1a32-11e8-83bc-e7a5862f8df9.png)

So I'm closing this as it looks like not and SDK issue, but a user who changes his/her email adress to an invalid one.

[2018-02-25 12:46] #922 closed

[2018-02-25 12:48] yguedidi commented on #932
Thanks for the report! And special thanks to @gmertk for help solving this issue!

Here what the doc says:
![image](https://user-images.githubusercontent.com/1480128/36641585-21df15a4-1a32-11e8-83bc-e7a5862f8df9.png)

So I'm closing this as it looks like not and SDK issue, but a user who changes his/her email adress to an invalid one.

[2018-02-25 12:48] #932 closed

[2018-02-25 12:52] yguedidi commented on #939
@nchankov it's on Packagist since some days! ;)

[2018-02-25 13:05] yguedidi commented on #940
@deepeshdkpathak I'm sorry for the issue you encounter.. But maintainers of this SDK are not from Facebook, so we can't help.
I suggest you to ask the via the [Facebook issue tracker](https://developers.facebook.com/bugs/).
So I'm closing this as it's not SDK related. I hope you'll find the reasons why.

[2018-02-25 13:05] #940 closed

[2018-02-25 13:06] yguedidi commented on #938
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 13:06] #938 closed

[2018-02-25 13:08] yguedidi commented on #937
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 13:08] #937 closed

[2018-02-25 13:08] yguedidi commented on #935
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 13:08] #935 closed

[2018-02-25 13:15] yguedidi commented on #916
Closing this as the SDK should now be compatible with strict mode, thanks to #913 released in 5.6.2!
Thank you all for your detailed feedback! Feel free to open a new issue if you still encounter issue with strict mode.

[2018-02-25 13:15] #916 closed

[2018-02-25 13:23] yguedidi commented on #930
Closing as there is no feedback on the suggested solution. Thanks a lot @Nyholm!

[2018-02-25 13:23] #930 closed

[2018-02-25 13:31] yguedidi commented on #928
@martinjankov good suggestion, but v5 of the SDK only supports Guzzle 5.
Moving to Guzzle 6 is a Backward Compatibility break, and AFAICR Guzzle 5 and Guzzle 6 can't live together.

Thats why the next major version of the SDK, v6, will uses HTTPlug thanks to @Nyholm contribution!
v6 is not released yet and still under development, but you can give it a try!
If we want Guzzle 6 under SDK v5, [here]

[2018-02-25 13:31] #928 closed

[2018-02-25 13:33] yguedidi commented on #927
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 13:33] #927 closed

[2018-02-25 14:00] yguedidi commented on #925
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 14:00] #925 closed

[2018-02-25 14:01] yguedidi commented on #924
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 14:01] #924 closed

[2018-02-25 14:07] yguedidi commented on #923
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 14:07] #923 closed

[2018-02-25 14:13] yguedidi commented on #921
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 14:13] #921 closed

[2018-02-25 14:14] yguedidi commented on #920
Closing because it the wrong repository, you should post in https://github.com/facebook/facebook-php-ads-sdk

[2018-02-25 14:14] #920 closed

[2018-02-25 14:14] yguedidi commented on #919
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 14:14] #919 closed

[2018-02-25 14:16] yguedidi commented on #917
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-02-25 14:16] #917 closed

[2018-02-25 14:17] yguedidi commented on #915
Closing because it's the wrong repository, you should post in https://github.com/facebook/facebook-php-ads-sdk

[2018-02-25 14:17] #915 closed

[2018-02-25 14:24] yguedidi commented on #274
@adithyamahesh596 you should ask StacjOverflow ;)

[2018-02-25 14:25] yguedidi commented on #826
@farhanakram1 do what Sammy suggested: ask StackOverflow :)

[2018-02-25 14:28] yguedidi commented on #898
Closing because of no activity. If you still have the issue, I think you should ask StackOverflow.

[2018-02-25 14:28] #898 closed

[2018-02-25 14:33] webmasterlv commented on #882
I'm sorry, but as i understand (please correct me if I'm wrong), it is the SDK issue in a way that it produces a PHP notice. In my project, log file is constantly filling up with these notices. Sure, application itself must handle cases when email is not present/invalid etc., but SDK shouldn't throw a simple notice about trying to access non-existent variable. This is a simple matter of checking w

[2018-02-25 14:34] yguedidi commented on #909
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2018-02-25 14:34] #909 closed

[2018-02-25 14:35] yguedidi commented on #908
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2018-02-25 14:35] #908 closed

[2018-02-25 14:36] yguedidi commented on #904
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2018-02-25 14:36] #904 closed

[2018-02-25 14:44] yguedidi commented on #884
Thank you for using the Facebook PHP SDK!

The SDK doesn't provide an error handler, so you have to change the PHP one yourself.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2018-02-25 14:44] #884 closed

[2018-02-25 14:55] yguedidi commented on #315
@junaidatique maybe you could contribute your changes? :)

[2018-02-25 14:57] yguedidi commented on #871
@HanaaGhasoub this is the Facebook PHP SDK repository, so it's natural to suppose that you use it. Hope you found a solution.

[2018-02-25 14:58] yguedidi commented on #874
@ladhani so you still encounter this issue?

[2018-02-25 14:59] yguedidi commented on #855
Thank you for using the Facebook PHP SDK!

Looks like not an SDK issue but a Graph API one.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2018-02-25 14:59] #855 closed

[2018-02-25 15:00] yguedidi commented on #847
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2018-02-25 15:00] #847 closed

[2018-02-25 15:06] yguedidi commented on #821
@neko-fire do you still encounter this error?
The fact that the error happen on random chunk makes me think it's a Graph error, so all you can do is retry to upload that chunk (which is the goal of resumable uploads haha).

[2018-02-25 15:22] yguedidi commented on #700
This will be fixed soon, finally! :)

[2018-02-25 15:24] hao214 commented on #934
here is my code , it works fine without strict mode.
Please help

<?php
if ( !session_id() ){
	session_start();
}
// added in v4.0.0
require_once ('autoload.php');
require ("../inc/config.php");
require ("../inc/class_mysql.php");
require ("functions.php");
// login helper with redirect_uri
$id = trim($_GET['id']);
$url = 'https://'. $domain;

$fb = new Facebook\Facebook([ 'app_id' => $appid, 'app

[2018-02-25 15:32] yguedidi commented on #882
@webmasterlv the SDK already use `isset()` ([see there](https://github.com/facebook/php-graph-sdk/blob/5.x/src/Facebook/GraphNodes/Collection.php#L68-L70)).
The fact that you get a notice it's because you rely on the array access notation (`$user_data['email']`) without checking if the key exists. A solution to your issue in te SDK would be to `offsetExists()` ([there](https://github.com/facebook/

[2018-02-25 17:14] neko-fire commented on #821
@yguedidi This error didn't occur for a couple of months now. I think keeping the SDK always up to date has solved it :)

[2018-02-25 17:14] #821 closed

[2018-02-25 17:46] yguedidi commented on #821
@neko-fire thanks! :)

[2018-02-25 18:55] webmasterlv commented on #882
@yguedidi

Oh, that was the problem, i added `isset()` in my code, that fixed it. Thank you for support :)

[2018-02-25 19:58] yguedidi commented on #882
@webmasterlv you're welcome

[2018-02-26 09:03] psychowico commented on #929
https://developers.facebook.com/docs/facebook-login/security/#strict_mode

Before we was able to use dynamic redirect url to redirect user in any place in our website. In the strict mode we won't be able to use dynamic urls - just limited list of urls given by us in facebook panel.
Often you can't set up all urls in panel, as the urls number is huge and dynamic.

Now we should use state parameter

[2018-02-26 11:09] kongnakornna commented on #539
Facebook SDK returned an error: Cross-site request forgery validation failed. Required param "state" missing from persistent data.

[2018-02-27 05:28] ahtishamashraf opened #951 "Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and sub-domains of your app to the App Domains field in your app settings."
I have my app Live on Facebook and Using Facebook SDK for Login Now Due to the Change in Policy of Facebook , the Use of Strict Mode is Mandatory and The Valid OAuth URLs are to be listed in the Valid OAuth , I have Listed the URLs there and now When I try to Log in via Facebook it Returns an Error \
"**Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load

[2018-02-27 05:43] snghaprv commented on #948
I have filed this issue on facebook-issue-tracker. But they closed the [issue](https://developers.facebook.com/bugs/650400332017880) and asked me to file it  on this project here.

[2018-02-27 07:08] yguedidi commented on #951
Do you use the latest version of the SDK (5.6.2)? It contains a fix to support Strict Mode (#913)

[2018-02-27 07:13] yguedidi commented on #948
@snghaprv The error is return from the Graph API, so it's a problem from the Graph API side.
If the isue happened randomly, then the SDK code is OK, maybe it's an issue with Graph API server?
I can't help you more than that, sorry.

[2018-02-27 07:28] yguedidi commented on #929
Frankly, this looks like a hack to me.. `state` param resposability is to prevent CSRF attack, and this responsability will be the only supported one in the SDK.

Anyway, the SDK can already answer your use case! :)
You just need to use your own `PersistentDataHandler`, pass it as the `persistent_data_handler` config key to `Facebook` class, and call `$myPersistentDataHandler->set('state', 'my-sta

[2018-02-27 07:30] yguedidi commented on #539
@kongnakornna I think there are some issue with your PHP session that it doesn't store the state, so not an SDK issue. StackOverflow may help ;)

[2018-02-27 07:37] ahtishamashraf commented on #951
I have updated now and it is working now, Thanks.

[2018-02-27 07:50] #951 closed

[2018-02-27 17:50] afaridanquah opened #952 "Class 'FacebookSession' not found"
Am trying to use the package in a Laravel app.
After composer require facebook/graph-sdk
and doing use Facebook\FacebookSession; in my class

i get -- Class 'FacebookSession' not found --
i understand in the previous versions you may need to require autoload. I tried it and bumped up.
Any help would be appreciated.

[2018-02-27 18:36] yguedidi commented on #952
`FacebookSession` is from SDK v4.0... you should update to the latest 5.6.2! :)

[2018-02-27 18:36] #952 closed

[2018-02-27 19:09] yguedidi commented on #910
@borismalezyk any error message? what's the response of the Graph API? what if you don't use a batch request but several single requests?

[2018-02-27 19:28] yguedidi commented on #619
For me, the best fix is to allow null for the original request, but this is a BC break.. I'll then accept the solution proposed in #636 (with some changes)

[2018-02-27 19:44] yguedidi commented on #872
@kanneg881 I still don't understand what is the issue... In your example, you get an access token that expires in 87662 seconds, which represent one day.
According the doc, a long-lived access token is one that expires in about 60 days, so yours is not a long-lived one, `isLongLived()` will return false.

[2018-03-01 02:40] kanneg881 commented on #872
@yguedidi
In the right condition isLongLived() will return false.
But why the code check time is -> time() + (60 * 60 * 2);
It means bigger than 2 hours will return true and isLongLived() will return true
That is not right return when use short-lived access token to check isLongLived()

[2018-03-01 11:13] kanneg881 commented on #872
The issue existed in my project fews month ago.
Finally I was stopped to continue developing this project.
I have been assigned developing other projects.
I didn't fix this issue at that time.
I wanted to auto update access token if it is soon to expire.
So I write a if statement to check whether need to update access token

define("second", 1);
define("minute", second * 60);
define("hour", minute

[2018-03-01 14:26] fabi0w commented on #929
@yguedidi Everything worked fine. But I activated the strict mode and my oauth login not works! I've already added the primary url to valid OAuth redirect URIs. and the error persists. in PHP log I find the following.`PHP Fatal error: Uncaught Facebook \\ Exceptions \\ FacebookSDKException: You must provide an access token. `. My SDK is 5.6.2. Any solution? Thank you!

[2018-03-01 23:20] yguedidi commented on #929
Hello @fabi0w, the error message makes me think it is not an SDK issue.. You should try asking on StackOverflow, or open a new issue with more detail so we can debug it.
I'm closing this one as the original issue about manually setting the state param will not be supported by the SDK.

[2018-03-01 23:20] #929 closed

[2018-03-02 00:54] EGreg opened #954 "Does Facebook Javascript SDK work after breaking change?"
Hi there. According to this announcement about a "strict mode", we will have to change our apps to only have exact redirect URLs:

https://developers.facebook.com/docs/facebook-login/security#strict_mode

However, in there it says "For apps using only the Facebook SDK, redirect traffic is already protected. No further action is needed."

Can you clarify this? Does it refer to the Javascript SDK, a

[2018-03-02 06:49] yguedidi commented on #954
Yes you must use the latest version, 5.6.2, to work with strict mode.

This repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [Stack

[2018-03-02 06:49] #954 closed

[2018-03-05 16:30] aldos84 commented on #939
I've the same problem too.
On my local dev system the login work very well but on live page I got the App Domain error.

The Redirect Urls are correctly and in every domain field I've added the correct domain of my live site.

Any idea why that login not work?

[2018-03-08 20:42] jfvoliveira opened #955 "Post as Page (Group Administrator)"
Hello. A few days ago I could post (with a page token) to a private group associated to that page (and the page is the group's admin).
Now I can't.

The token's permissions are: publish_actions, user_managed_groups, manage_pages, pages_show_list, publish_pages, public_profile

The Page is the group's admin. Not I get the error

[code]

What changed between a few days ago and now? Why can't I post

[2018-03-09 13:41] flameblue59 opened #956 "appsecret_proof required"
Hi, I have tried to enter my appsecert_proof but I still received this following error.

`Fatal error: Uncaught exception 'Facebook\Exceptions\FacebookAuthenticationException' with message 'Invalid appsecret_proof provided in the API argument' in /home/admin/stidac/vendor/facebook/graph-sdk/src/Facebook/Exceptions/FacebookResponseException.php:106 Stack trace: #0 /home/admin/stidac/vendor/facebook

[2018-03-15 15:29] usamamashkoor commented on #821
is their a way we can show the progress bar while doing resume able video uploads...?

[2018-03-17 12:58] juppy81 opened #958 "Catchable fatal error: Argument 4"
Salve, da ieri riscontro questo errore nel mio sito che mi impedisce di effettuare il login tramite facebook:

Catchable fatal error: Argument 4 passed to Facebook\FacebookResponse::__construct() must be of the type array, null given, called in /home/mhd-01/www.chetorneo.com/htdocs/php-graph-sdk-5.0.0/src/Facebook/FacebookClient.php on line 225 and defined in /home/mhd-01/www.chetorneo.com/htdocs/

[2018-03-18 06:46] orlandoabreu221 opened #959 "Problem getting friends list"
Hi folks, I'm having a problem getting the user's friends list with Facebook PHP Graph SDK(this repository), I'm just getting the friends of the user that have accepted and used the app before, i mean, those who already granted permissions to the app, i have read that this is something new on the new version of facebook sdk, but the previous one [https://github.com/facebookarchive/facebook-php-sdk

[2018-03-18 13:32] soorejp commented on #653
Make sure the packages  php curl packages are installed
In Ubuntu: "apt install php-curl php7.1-curl"

[2018-03-18 23:01] stoevno1 commented on #951
I had the same issue. Now fixed with the SDK (5.6.2). Many thanks ;)

[2018-03-19 15:15] sahilk2579 opened #960 "Access token was not returned from Graph"
require_once __DIR__ . '/../student/f/autoload.php';

    $fb = new \Facebook\Facebook([
     'app_id' => 'app_id',
     'app_secret' => 'app_secret',
     'default_graph_version' => 'v2.9',
      ]);

	if(isset($_GET['state']))
	{$_SESSION['FBRLH_state']=$_GET['state'];}
	$permissions = ['email'];
	$helper = $fb->getRedirectLoginHelper();
	$accessToken = $helper->getAccessToken();

this is return

[2018-03-19 15:26] borismalezyk commented on #910
@yguedidi No error message, the post video are posted on all my facebook pages with no thumbnail. The responses of the Graph API it's a classical success responses .If I try to use single request, the video is posted correctly posted with is thumbnail, the problem concern only batch requests

[2018-03-20 12:08] codearthungary opened #961 "Missing access token"
Hi guys, I use Facebook php sdk in my site for login and register and this has worked so far. Now after the auth procedure, the access token missing.

        $access_token = $this->get_access_token();
        if($access_token && $this->get_expire_time() > (time() + 30) || $access_token && !$this->get_expire_time()){
            $this->fb->setDefaultAccessToken($access_token);
            return $

[2018-03-20 17:45] mik1khan commented on #958
hello,
    I am having same issue since 17 march. the facebook login was working fine previously but from 17 march it is showing the same error:

Catchable fatal error: Argument 4 passed to Facebook\FacebookResponse::__construct() must be of the type array, null given, called in /home/digmonsters/public_html/facebook-php-sdk/FacebookClient.php on line 225 and defined in /home/digmonsters/public_ht

[2018-03-20 18:01] apascal67 commented on #958
greetings,
I had the same issue and apparently fixed it by changing the path on the "require_once" php statement on my fb-callback.php file
from:
require_once __DIR__ . '/facebook-sdk-v5/src/Facebook/autoload.php';
to:
require_once __DIR__ . '/vendor/autoload.php';

this ALL I did and it seems to work just fine again. I hope it works for you.

[2018-03-20 18:02] apascal67 commented on #958
hi,
I posted my answer directly at github. I hope it works for you as well.
have a great week.
thanks

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1

[2018-03-20 19:37] UOCecalero commented on #956
Same issue here...

[2018-03-20 21:02] UOCecalero commented on #956
I solved the problem. The problem was that I took the wrong AccessToken from the Facebook API Graph Explorer.
You have to select first your app and then generate your App AccessToken to use it from your server.

[2018-03-21 09:42] egadirov opened #962 "Problem with Custom Aduience and PHONE numbers"
Hi guys!
I have a problem when creating a custom audience with phone numbers.
On the Facebook Bossines page, the audience is created, the N of rows is added and the status "Audience is too small" does not change.
Before that, I sent emails and everything was successful.

Here is a piece of my code:

`
      // In reality, I added an array of 1000 unique phones

 $phones = array(
'+380999705715',

[2018-03-23 02:17] budhajeewa commented on #754
@janhapke 's [answer](https://github.com/facebook/php-graph-sdk/issues/754#issuecomment-293923441) is the easiest work around. Used it today and got expected results.

[2018-03-23 06:37] gurjanjua opened #963 "Error : Can't Load URL: The domain of this URL isn't included in the app"
When i am trying to login with facebook on my site, after facebook login it throwing

Graph returned an error : Can't Load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and subdomains of your app to the App Domains field in your app settings.

It was working fine two days ago. Today one of my user told me regarding this and when i che

[2018-03-23 08:34] bigktmbig commented on #963
Me too, who can help me?

[2018-03-23 08:47] revPushker commented on #963
same issue , i have facing when i  am logging with facebook from my app, it throws Graph returned an error : Can't Load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and subdomains of your app to the App Domains field in your app settings

[2018-03-23 09:56] mirondi commented on #963
Same here, maybe the last update for strict urls break things ?

[2018-03-23 12:14] peterlcf0403 commented on #963
guys I also faced this problem just today. In my case it was the sdk version problem. I updated to the latest version and the problem is fixed. hope this help.

Wonder if this is related to recent data leak scandal and they may made some changes to the service.

[2018-03-23 15:34] arvidbjorkstrom commented on #963
This is probably related to the [strict mode](https://developers.facebook.com/docs/facebook-login/security/#strict_mode) now being compulsory since a few weeks back.
Add your full callback url in the setting at https://developers.facebook.com/apps/XXXXXXXXXXX/fb-login/settings/ (replace XXX with your app id) and that will hopefully fix the problem. :)

[2018-03-24 00:16] bobmagicii commented on #939
same as aldos.

[2018-03-25 18:45] Ivan-ShRt commented on #963
Spent many hours fighting this... Simply updating to 5.6.2  solves the problem.

[2018-03-27 09:18] larssn commented on #473
If you use AWS' ELB do this:

[code]

This will switch to cookies (which the ELB supports).

[2018-03-27 19:40] PapaLimaZulu opened #964 "OAuth redirect URL in another subdomain ? Cross-site request forgery validation failed. Required param "state" missing from persistent data."
Since the "Use Strict Mode for Redirect URIs" became obligatory I have an issue with my application. It uses the
**user.myapp.com**
schema to allow different users to log inte their "work area". But while the list of the users is dynamic, I cannot modify the Client OAuth Settings every time a new user is added.
Is there any solution to this problem?
What I did was to create a dedicated app.myapp.c

[2018-03-30 10:02] Celsyum commented on #963
I had issues with this. Noticed that after moving to https:// it still redirects to http://
after long hours of looking into fb sdk found that they have issues detecting if your site is secure.
Developers should take a look.

So, on file

facebookd-v5.*-sdk/Url/FacebookUrlDetectionHandler.php
update two functions.
Updated versions:

    protected function protocolWithActiveSsl($protocol)
    {

[2018-03-30 18:07] JaredClemence commented on #962
Are you 100% certain that the minimum required number of audience members in our 1000 phone numbers have:

* Associated the provided phone number with their facebook account
* Made that phone number public to allow it to be used for audience inclusion

The biggest problem I have with Facebook Custom Audiences is with the provided data not linking to a sufficient number of authorized accounts.  One

[2018-04-05 05:00] tolbon opened #966 "IMPORTANT Facebook Restriction"
This message is for pure information, close if you want
Facebook restrict lot of fields on GraphAPI

https://newsroom.fb.com/news/2018/04/restricting-data-access/

@yguedidi

[2018-04-05 10:25] vnikolay opened #967 "/me/groups returns empty"
Before yesterday everything worked well, but now it gets an empty array:
$response = $fb->get('/me/groups', $access_token);
$data = $response->getGraphEdge()->asArray();
It doesn't work only for getting user managed groups. For '/me/accounts' it returns fan pages well.
I didn't do anything with code, it just stopped working, what is the problem?

[2018-04-06 07:04] karelsmetana commented on #963
Solved, not only updated sdk, but right callback url - I added there referer parameter, but it was problem for facebook. After removing this parameter, everything works.

[2018-04-07 08:56] nickcartery commented on #960
Same issue!!!!

[2018-04-08 13:28] patie opened #970 "Publish status in group"
Hi, its possible publish status to group as group admin or page? What its need to do? Thank you

[2018-04-08 17:08] wiixajax opened #971 "test login sdk 5.6.2"
*test code*

[code]

loginurl=
https://www.facebook.com/2.2/dialog/oauth?client_id=213113115860994&state=2fb2505649882585bed161cb34675b66&response_type=code&sdk=php-sdk-5.6.2&redirect_uri=https%3A%2F%2Fdemo.168money.com.tw%2FTestLogin%2Ffbcallback&scope=email

page return content

無法瀏覽此頁面
你點擊進來的連結可能已失效，或頁面可能已被移除。

why ?

[2018-04-09 21:47] michaelsomerville opened #972 "Passing the state ?"
We figured out how to get rid of the url error, which everyone has been having issues with. But what I am currently lost with, is passing the state.

We need it to change all the time for our users - meaning that can't add a callback url specific to it. Where are we to add or edit the ability to change or pass the state with the PHP SDK to facebook?

Thanks!!

[2018-04-10 09:56] egadirov commented on #962
Can't be 100%, but I take phone numbers from a file that manually feeds to facebook and gets success.
I do not think that the logic of feeding is different from the manual and using the API

[2018-04-10 16:55] barkermn01 opened #973 "videoToUpload returns empty on failure and not exception."
## Test information
PHP-SDK Version: latest composer (`composer update` was run as part of debugging)
PHP Verison: 7.2-fpm
Web Server: Apache 2.

## Problem:

`$response = $fb->videoToUpload()` does not seem to be working correctly. it works when i upload an animated gif and i get an Id back and the video is added to my page.

However, I give it a path to a .mp4 file and I get an empty response no

[2018-04-12 09:11] Plytas opened #974 "Graph version v2.12"
I see that for the stable version (5.5) default graph api version is still v2.10. Is there a reason it's not being updated to v2.12?
And also is it safe to just pass version v2.12 to Facebook constructor?

[2018-04-13 11:38] sahilk2579 commented on #960
@nickcartery  update PHP SDK to v5  it worked for me  , i had v4

Download it from  [here](https://github.com/facebook/php-graph-sdk)

[2018-04-14 16:22] lokprakashpandey opened #975 "Insecure Login Blocked"
![capture](https://user-images.githubusercontent.com/8023202/38770290-b905663c-3fde-11e8-8148-e2e4712bc373.JPG)
When trying to use 'Log In with FB', it says, "Insecure Login Blocked: You can't get an access token or log in to this app from an insecure page. Try re-loading the page as https://". How to deal with this problem?

[2018-04-16 05:59] RobbieLePommie commented on #964
This is not a bug, it's by design to totally prevent you doing exactly what you are doing (or rather to prevent someone else from doing it, in your name). But there's an easy work around.

The "state" is stored in the session handler. So there are two things you need to do:

1. If "app" and "app1" are on different servers or using different configs, you need to overwrite the session handler to sav

[2018-04-16 07:04] amdesigner opened #976 "How to integrate facebook php sdk in magento2"
Hi i would like to integrate facebook php sdk in magento 2. how to go about it?

[2018-04-16 09:01] Seo-junho opened #977 "Error changing Facebook login from JavaScript to php"
I switched from JavaScript login to php using Facebook sdk
However, FacebookSDKException causes an error such as receiving multiple Facebook permissions
What is the problem?

I want to get all possible possibilities

[2018-04-18 08:43] #977 closed

[2018-04-19 21:37] JaredClemence commented on #962
So, to be clear...

When you use these phone numbers and upload them to facebook manually, your audience is created successfully --- You don't have an issue with the audience being 'too small'.

When you create the audience with this package, the audience is 'too small'

Is that correct?

[2018-04-20 15:27] litan1106 commented on #974
you can pass the version (v2.12) into the Facebook constructor for now.

$fb = new \Facebook\Facebook([
  'app_id' => '{app-id}',
  'app_secret' => '{app-secret}',
  'default_graph_version' => 'v2.12',
  //'default_access_token' => '{access-token}', // optional
]);

[2018-04-21 21:39] abbas13375 opened #979 "publish posts"
hi ...
I creat an script that send my feed's site on page facebook
but problem that is just Admin's page can see this post and anyone not see posts page

sorry my englis is bad :grin:

please help me

[2018-04-23 09:27] deepulbit opened #980 "Please make sure your redirect_uri is identical to the one you used in the OAuth dialog request"
I have created an app and I use facebook login and signup using that on my website. Everything was working fine until last month. But now when I try to signup using facebook I am getting an error saying _Graph returned an error: Error validating verification code. Please make sure your redirect_uri is identical to the one you used in the OAuth dialog request_. I have added the redirect uris in app

[2018-04-23 20:53] kergekacsa commented on #980
+1 for me, it's the same for me, I've checked over a hundred times...
Before the addition if the correct URL, I got the error message on facebook's page, but now it's on my domain, after I got forwarded back.

[2018-04-24 09:31] NaitikShah commented on #939
Hey @aldos84 @bobmagicii did u get any solution??

[2018-04-24 10:11] aldos84 commented on #939
My problem was that my app runs in a VM and the FB helper got the wrong url (from the host system instead of main url)
My solution is to got the real url and set as parameter on $helper->getAccessToken()

[code]
in my fb development settings is the same url for valid redirect urls

[2018-04-25 21:49] bobmagicii commented on #939
ah yes.

my problem was because i tried too hard to work like the cool kids do with local dev environments instead of the system i know works for me with dev instances in our cloud that i can properly https.

i was running the project locally with `php -S localhost:80 -t www` and using stunnel to chuck it down HTTPS because facebook wont even allow you to enter HTTP only urls anymore in the callba

[2018-04-27 07:29] satay commented on #951
Hi Team,
I am facing same issue..Please suggest changes..I have update to SDK 5.6.2, but still facing issue.
********************************************************************************************************
Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and sub-domains of your app to the App Domains field in your app

[2018-04-28 00:57] barba99 opened #981 "Barba"

[2018-04-28 01:00] barba99 opened #982 "Face"

[2018-04-28 09:53] kl521516 opened #983 "Graph returned an error: 无法加载网址: 这个 URL 的域名未包含应用的域名。为了能够加载 URL，请在应用设置的应用域名字段添加应用的所有域和子域。"
login.php
`
if(!session_id()) {
    session_start();
}

require_once __DIR__ . '/vendor/autoload.php';

$facebook_appId = '123';
$facebook_appSecret = '123';

$fb = new Facebook\Facebook([
  'app_id' => $facebook_appId,
  'app_secret' => $facebook_appSecret,
  'default_graph_version' => 'v2.11',
]);

$helper = $fb->getRedirectLoginHelper();

$permissions = ['email']; // Optional permissions
$login

[2018-04-29 13:14] apoorva-shah opened #984 "PHP: API calls from the server require an appsecret_proof argument"
Hello,
I am using facebook login app and i have turn on flag "Require App Secret" from   from "setting-> advanced". After that i am getting error "API calls from the server require an appsecret_proof argument"
If turn off "Require App Secret" it is working fine. So can any one please guide?

So when i login with facebook in my site i get
Error: API calls from the server require an appsecret_proof

[2018-04-30 08:18] boanneu commented on #983
we have te same issue

[2018-05-01 16:30] ryancwalsh opened #985 "Latest release of php-graph-sdk uses defunct version of graph-sdk? (probably VERY easy to fix with a new 5.6.x release)"
We got emails today (on 2018-05-01) saying:

The only place in my code that I could find that might be accessing an earlier version is this `php-graph-sdk` (version 5.6.2), because it says `const DEFAULT_GRAPH_VERSION = 'v2.10';` (even though 5.6.2 is the latest release!).

**What happens if I just pass `null` as the version? Will that work fine? Does that tell your API to use the latest, or what?

[2018-05-02 01:42] kl521516 commented on #983
thanks for your feedback,but I have  added all domains and subdomains of our app to the "Application domains" field in our app settings,It still reports this error.

[2018-05-02 04:57] boanneu commented on #983
what i have done is create canvas on Facebook, withe Facebook Web Games and so we get the session it self, and the basic user info

[2018-05-02 05:05] satay commented on #951
Hi Team,

Any suggestion on it.

[2018-05-02 09:07] satay commented on #951
Yes..I have included both urls.

[2018-05-03 21:18] #982 closed

[2018-05-04 11:35] Plytas commented on #985
I already asked this question on #974 . (I see you put a thumbs up there).

The answer I got is to put `'v2.12'` for `default_graph_version`.
[code]

[2018-05-06 21:59] Ravindrage opened #986 "Graph returned an error: Invalid appsecret_proof provided in the API argument"
Hello ,
Today I created a new facebook App in  V2.12 and using this SDK.
My previous created app is working fine with this SDK .script is posting image videos on my fb wall
In new APP I am getting this error  .
Graph returned an error: Invalid appsecret_proof provided in the API argument

I copy correct App Id and Secret and create a Correct Access token using
https://developers.facebook.com/tools

[2018-05-07 14:01] AbdurRehman26 opened #987 "Ads Actions Stats purchase and other values"
Hi i have been trying to fetch purchase and add to cart values using graph sdk but i cant seem to figure out the syntax to do it.. It would be helpful if anyone can provide the correct syntax to do it.  This is the link i am referring to

https://developers.facebook.com/docs/marketing-api/reference/ads-action-stats/

[2018-05-07 23:46] petertoth0507 commented on #958
I have a same problem at https://www.classfund.hu/index.php?r=site/login

I didn't change my code and it was working before a month ago...
Maybe it is a facebook side issue.

message: Argument 4 passed to Facebook\FacebookResponse::__construct() must be of the type array, null given, called in /home/classfun/public_html/chef/protected/vendors/facebook-sdk-v5/FacebookClient.php on line 225 and defi

[2018-05-09 14:30] danielcoates opened #989 "Multiple uncaught errors with Facebook login"
Following the [`facebook-login.md`](https://github.com/facebook/php-graph-sdk/blob/5.x/docs/examples/facebook_login.md) example that is provided in this SDK leads to two uncaught errors.

![xdebug screen shot](https://user-images.githubusercontent.com/19962341/39820065-d56e6112-539c-11e8-8cdb-4f846a61a291.png)

This seems to stem from not sending the App Domain with the `$accessToken = $helper->ge

[2018-05-10 07:32] nileshsmartwebtech opened #990 "Throwing error for creating createAd"
It does not allow to createAd
[code]

[2018-05-11 13:40] DavidConstantine88 commented on #963
karelsmetana - what is considered a right callback url?
for example if my login is https://mydomain/login
and facebook login is https://mydomain/facebook-login

do I need to provide something else there?
lets assume I need only email permission...

[2018-05-11 14:52] karelsmetana commented on #963
@DavidConstantine88 you have to enter callback url, where will be user redirected by facebook.

[2018-05-13 02:13] brianzaky commented on #971
[FBNotifications-master.zip](https://github.com/facebook/php-graph-sdk/files/1998057/FBNotifications-master.zip)

[2018-05-13 02:13] brianzaky commented on #971
https://www.facebook.com/2.2/dialog/oauth?client_id=213113115860994&state=2fb2505649882585bed161cb34675b66&response_type=code&sdk=php-sdk-5.6.2&redirect_uri=https%3A%2F%2Fdemo.168money.com.tw%2FTestLogin%2Ffbcallback&scope=email

[2018-05-14 06:33] prappo commented on #975
Same problem. Did you get any solution yet?

[2018-05-14 07:45] ashirwadrastogi opened #992 "How can I get Page_Fan_Country_Count without page access token"
Ealier we can extract any page Like Fan country count without any page access token,
Some of the Social tools like FanPageKarma.com can easily extract the MOst popular country of any page.

Can someone help me how can I extract this data.?

[2018-05-17 05:12] datsabk commented on #761
how do we handle it then?

[2018-05-18 10:35] karthisgk opened #993 "UAn uncaught Exception was encountered"
Type: Error

Message: Class 'Facebook\Exceptions\FacebookSDKException' not found

Filename: /opt/lampp/htdocs/img_script/application/third_party/Facebook/Facebook.php

Line Number: 139

Backtrace:

File: /opt/lampp/htdocs/img_script/application/controllers/Profile.php
Line: 19
Function: __construct

File: /opt/lampp/htdocs/img_script/index.php
Line: 315
Function: require_once

[2018-05-19 01:53] lokprakashpandey commented on #975
Yes...needs HTTPS

[2018-05-19 09:27] IsisEinaudi opened #994 "FB Error"
Hi,
I cannot retrieve events information from https://graph.facebook.com/v2.10/isiseinaudi/events?fields=owner,start_time,cover,description,name,place&access_token=
It was correct untile few weeks ago, but now it does not work anymore.
Could you help me?
Best Regards
Isis Einaudi Dalmine

[2018-05-20 03:36] arpitmca1992 opened #995 "Cross-site request forgery validation failed. Required param "state" missing from persistent data"
Trying to do simple thing below and getting above error:
In Index.php
`$helper = $fb->getRedirectLoginHelper();
$permissions = ['user_posts','publish_actions','manage_pages','publish_pages']; // Optional permissions
$loginUrl = $helper->getLoginUrl('http://test.org/Test/login-callback.php',$permissions);

echo '<a href="' . htmlspecialchars($loginUrl) . '">Log in with Facebook!</a>';`

And In Call

[2018-05-20 15:33] allatvedelem commented on #994
Hello there 🙂
I trying to make an application for the orphan dogs in my country
But last night Facebook deleted my email
Everything gone

[2018-05-22 05:32] jhoegsdal commented on #963
I had the same issue and it was to do with the Valid OAuth Redirect URIs. I had to add "/signin-facebook" for it to work. E.g. https://mydomain/signin-facebook

[2018-05-22 05:56] chendejie opened #996 "How to set up Facebook send dialog via PHP SDK?"
I checked Facebook send dialog at here https://developers.facebook.com/docs/sharing/reference/send-dialog
All the sample are from JS SDK. Our web based on PHP, so, is there a way to do the Facebook send dialog via PHP SDK? Is there any Facebook doc for that?
Thank you!

[2018-05-22 12:29] eugenecooper commented on #967
The same here. Most like it's because of the recent policy changes but it's not clear why other permissions left intact until August and group permissions simply disappeared from approved apps.

[2018-05-25 18:11] yguedidi commented on #956
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-25 18:11] #956 closed

[2018-05-25 18:13] yguedidi commented on #970
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-25 18:13] #970 closed

[2018-05-25 18:15] yguedidi commented on #955
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-25 18:15] #955 closed

[2018-05-25 18:16] yguedidi commented on #960
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-25 18:16] #960 closed

[2018-05-25 18:18] yguedidi commented on #964
Thanks @RobbieLePommie for this detailed answer!

[2018-05-25 18:18] #964 closed

[2018-05-25 18:18] yguedidi commented on #976
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-25 18:18] #976 closed

[2018-05-25 22:03] cjluzius commented on #995
I noticed your using http. Should it be https?

I'm having similar issues. I have one app that works with the Redirect Login fine but my older app that I'm converting from a Canvas Login keeps returning cross-site errors even though I've authorized the URLs and triple checked everything. When I test my URLs they all return that they are authorized so I have no idea on what to try next.

[2018-05-25 22:06] cjluzius opened #997 "FB RedirectLoginHelper object is missing information"
FB RedirectLoginHelper object is missing information for some users causing a NULL session.

PHP SDK 5.0

$helper = new FacebookCanvasLoginHelper();
$session = $helper->getSession();

I did a var_dump of the $helper for users who are working vs those that are failing. and theirs a huge difference between users that gain access and users that fail with the following differences.

- Raw Signed Reque

[2018-05-26 03:51] arpitmca1992 commented on #995
Dear you just start session in index file or redirect file your isshu will
be resolve. please tell me if it works. in my case it works.

On Sat, May 26, 2018 at 3:33 AM, cjluzius <notifications@github.com> wrote:

[2018-05-26 07:43] yguedidi commented on #962
Hi! You sould post your question in https://github.com/facebook/facebook-php-business-sdk

[2018-05-26 07:43] #962 closed

[2018-05-26 07:45] yguedidi commented on #974
Thanks @litan1106!
@Plytas the Graph version you use should always be passed to the constructor ;)

[2018-05-26 07:45] #974 closed

[2018-05-26 07:47] yguedidi commented on #985
Thanks @Plytas!
@ryancwalsh you should always pass a fixed version of the Graph API

[2018-05-26 07:47] #985 closed

[2018-05-26 07:48] yguedidi commented on #980
Thanks @kergekacsa!

[2018-05-26 07:48] #980 closed

[2018-05-26 07:52] yguedidi commented on #939
@bobmagicii

It would be really helpful if you send a pull request to enhance it ;)

[2018-05-26 07:52] #939 closed

[2018-05-26 07:53] yguedidi commented on #984
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 07:53] #984 closed

[2018-05-26 07:54] yguedidi commented on #983
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 07:54] #983 closed

[2018-05-26 07:56] yguedidi commented on #951
@satay `http://myvoicepost.com/` is not a domain but an URL, `myvoicepost.com` is a domain ;)

[2018-05-26 07:57] yguedidi commented on #986
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 07:57] #986 closed

[2018-05-26 07:57] yguedidi commented on #987
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 07:57] #987 closed

[2018-05-26 08:26] yguedidi commented on #971
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:26] #971 closed

[2018-05-26 08:26] yguedidi commented on #992
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:26] #992 closed

[2018-05-26 08:28] yguedidi commented on #993
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:28] #993 closed

[2018-05-26 08:28] yguedidi commented on #994
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:28] #994 closed

[2018-05-26 08:29] danielcoates commented on #989
@yguedidi, did you even read the issue?  This is a report on a bug/error in the documentation.

I even included what I did that made it work, after spending 4 hours on stack exchange and google.

[2018-05-26 08:29] yguedidi commented on #975
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:29] #975 closed

[2018-05-26 08:33] yguedidi commented on #963
@ferreirabraga just upgrade to 5.6.2, it includes that fix ;)

[2018-05-26 08:33] #963 closed

[2018-05-26 08:33] yguedidi commented on #996
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:33] #996 closed

[2018-05-26 08:36] yguedidi commented on #967
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:36] #967 closed

[2018-05-26 08:40] yguedidi commented on #997
@cjluzius looks like not an SDK issue. You should dump the parsed signed request, it may contain an error message. Please then use StackOverflow for support, thanks

[2018-05-26 08:40] #997 closed

[2018-05-26 08:41] yguedidi commented on #995
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 08:41] #995 closed

[2018-05-26 08:54] yguedidi commented on #989
@danielcoates You're right! I'm currently cleaning up the issues of the repo, and I must admit I was too fast on this one, when I saw "Can't load URL: The domain of this URL...". My bad!
Regarding your issue, passing the redirect URL is not mandatory, by default the SDK will set the current one as the redirect URL.
But you're right there may be a lack in documentation... Would you like to open a p

[2018-05-26 09:00] yguedidi commented on #453
@usamamashkoor please use StackOverflow for support questions. Thanks

[2018-05-26 09:03] yguedidi commented on #959
@orlandoabreu221 it's not an SDK limitation, it's the Graph API that limit that access. Please read the Graph API documentation ;)

[2018-05-26 09:03] #959 closed

[2018-05-26 09:05] yguedidi commented on #961
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-26 09:05] #961 closed

[2018-05-26 09:10] yguedidi commented on #966
Thanks @tolbon! I'm aware of those changes :)
Restricting them doen't mean that they're removed, and if they're not removed, they should be accessible through the SDK ;)

[2018-05-26 09:10] #966 closed

[2018-05-26 13:10] cjluzius commented on #995
arpitmca1992 I have start session as the first line of code. That's not the issue.

[2018-05-27 21:06] iki789 opened #998 "Undefined gender error"
I'm getting an undefined gender

[code]

[2018-05-27 21:10] #998 closed

[2018-05-27 21:10] iki789 commented on #998
Facebook isn't guaranteed to return some params even if it is requested

[2018-05-28 07:29] satay commented on #951
@yguedidi Yes I have included myvoicepost.com in domain list. But it was not working.

[2018-05-28 11:05] yguedidi commented on #951
@satay on the facebook page that show you the error message "Can't load URL: The domain of this URL isn't included in the app's domains.", simply check the URL in your browser and check the `redirect_uri` value

[2018-05-28 11:36] satay commented on #951
https://www.facebook.com/v2.6/dialog/oauth?client_id=461609294031645&state=1b26120ffc4426ae2ccb2d7a1e91e2c6&response_type=code&sdk=php-sdk-5.6.2&redirect_uri=http%3A%2F%2Fmyvoicepost.com%2Ffbxl%2Ffb-callback.php%3Fp%3D180426163032_87885850881%26msg%3Dhi&scope=email%2Cpublish_actions

This is complete url..so what need to pass in redirect_uri value now..

[2018-05-28 11:39] yguedidi commented on #951
@satay looks like your redirect URL is not HTTPS

[2018-05-28 11:41] yguedidi commented on #951
@satay here, your redirect URL is `http://myvoicepost.com/fbxl/fb-callback.php?p=180426163032_87885850881&msg=hi`, wich is not EXACTLY the one you configured.
If you need more help, please ask StackOverflow

[2018-05-28 11:42] satay commented on #951
@yguedidi  actually it's callback url which we pass at the time of login auth-

$callback_url="http://myvoicepost.com/fbxl/fb-callback.php?p=".$p."&msg=".$msg;
$loginUrl = $helper->getLoginUrl($callback_url, $permissions);

[2018-05-28 11:43] yguedidi commented on #951
@satay Facebook require that any redirect URL match exactly the one configured in the app

[2018-05-28 11:49] satay commented on #951
@yguedidi  I set Share Redirect Whitelist url with "http://myvoicepost.com/fbxl/fb-callback.php" but still getting error.
https://www.facebook.com/v2.6/dialog/oauth?client_id=461609294031645&state=1b26120ffc4426ae2ccb2d7a1e91e2c6&response_type=code&sdk=php-sdk-5.6.2&redirect_uri=http%3A%2F%2Fmyvoicepost.com%2Ffbxl%2Ffb-callback.php&scope=email%2Cpublish_actions

[2018-05-28 12:30] satay commented on #951
@yguedidi thank you very much ..it's working fine for me now..do we need to submit app again for review ?

[2018-05-28 22:10] yguedidi commented on #951
@satay I don't know sorry, ask Facebook

[2018-05-29 14:35] nileshsmartwebtech opened #999 "Getting same error each time Unsupported get request. Object with ID 'xxxxxxx' does not exist, cannot be loaded due to missing permissions, or does not support this operation."
I am getting error when try to getting campaign
`Unsupported get request. Object with ID 'ad_account_id' does not exist, cannot be loaded due to missing permissions, or does not support this operation. Please read the Graph API documentation at https:\/\/developers.facebook.com\/docs\/graph-apiError Code: 100`

What was problem??

[2018-05-29 21:03] csimpi commented on #963
@Ivan-ShR thx it was a lifesaver 👍

[2018-05-29 21:21] csimpi commented on #972
Same question here.
Temporarily I'm adding the state parameter manually, and set the session's value.

[2018-05-29 23:04] yguedidi commented on #999
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-29 23:04] #999 closed

[2018-05-29 23:07] yguedidi commented on #972
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf

[2018-05-29 23:07] #972 closed

[2018-05-29 23:10] yguedidi commented on #972
@michaelsomerville @csimpi now that the formal answer is done, regarding your issue, I'd suggest you to simply use the session.
The `state` param is there to protect against CSRF attacks.
Just save in the session the user related data before redirecting to the login URL, using a fixed redirect URL (something like `https://myhost/fb-callback`) that is add in the app configuration as allowed redirec

[2018-05-29 23:41] csimpi commented on #972
I can't really accept the formal answer.
Our question is about Graph API PHP SDK, not Graph API itself only.
Still, If I'd pass custom params through the URI there should be a parameter of getLoginUrl() function that accepts the state parameter's value.
Yes, state param is there to protect against CSRF attacks, I'd be comfortable to pass those parameters through the state param, not only store the

[2018-05-30 18:28] yguedidi commented on #972
I may misunderstood then...

If I understand correctly, you want to be able to pass a custom state containing user specific data instead of the random one generated to protect against CSRF, right?
If so, to me, it looks like a weird usage of the state param, and the `getLoginUrl()` function.
If I'm right understanding the usage, then it's a really specific one, and I think we won't support it and

[2018-06-01 10:00] sai905905 opened #1000 "Resumable upload to fb page returns error "There was a problem uploading your video. Please try again." code : 6001"
try {
            $response = $fb->uploadVideo('me', $videoPath, $data, $token);

        } catch (FacebookResponseException $e) {

            // When Graph returns an error
            return 'error_code-'. $e->getCode() . ' ' . $e->getMessage();

        } catch (FacebookSDKException $e) {

            // When validation fails or other local issues
            return 'error_code-'. $e->getCode(

[2018-06-04 10:27] milap-virtueinfo opened #1002 "Graph returned an error using graph version v2.10 and Facebook SDK for PHP 5.X"
Hello

I have integrated facebook social login button for my one project. Earlier it was using graph version v2.2 and everything works fine, But facebook no longer supported to version v2.2.
So I have upgraded it to v2.10.

But it seems when I logged in using facebook the callback popup automatic gets close.
And my login flow gets disturbed.

I have used https://github.com/facebook/php-graph-sdk c

[2018-06-04 22:09] sagargulati opened #1003 "Getting List of Accounts (Pages) & Page Access Token?"
Greetings,

I was wondering Is there any inbuilt function to get a list of accounts or **pages (business)** with **ID, Name** that can be used to list the pages in a dashboard scenario where user selects a particular page and then it get's the page access token and that can be used with **Instagram Business API** to get other details and perform actions on **Instagram** mainly [these](https://deve

[2018-06-07 10:53] Gangababu93 opened #1004 "Graph returned an error: Can't Load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and subdomains of your app to the App Domains field in your app settings."
Hello

I have integrated facebook social login button in on of my project. Earlier it was using graph version v2.2 and everything works fine.But now it is throwing an error "Graph returned an error: Can't Load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and subdomains of your app to the App Domains field in your app settings".
Even

[2018-06-08 07:58] Arkellys commented on #1004
Hello @Gangababu93,

Did you add 'Facebook Login' product in your app settings ?
If so, make sure that you added your callback url in the 'Valid OAuth redirect URIs' field of Facebook Login settings.

Adding the callback to the `getAccessToken()` function can help too :
`$helper->getAccessToken($callbackUrl);`

[2018-06-08 16:29] mapicard commented on #476
My symptom was the famous

After trying SO many things, manually providing my login_callback url on getAccessToken is what fixed it. ($helper->getAccessToken($my_fb_callback)).

It is surprising that this cause does not show up more when searching for this error.
Thanks a lot for sharing.

[2018-06-08 19:32] MercadoXL opened #1005 "URL is not included in the domains of the application."
Hi, I hope you can help me, I know that this mistake has been very silly but I can not see the solution.
I have my app set up and in "domain of the aplicaicon" (basic configuration of the facebook app) I have placed my sub domain where I have the directory of the example and the main domain.

even so when I try the example I have this error

Can not load the URL: The domain of this URL is not incl

[2018-06-09 10:52] sanga555 opened #1006 "Facebook login window is not opening in safari browser."
I am visiting an site say www.example.com trying to connect on Facebook from the iPhone device on safari browser.
The safari browser is restricting to open the Facebook window.
Whereas it is working on chrome browser on all iPhone device.

Where i observed and noticed that its working for iPhone device 5C on safari.
Its not working for iPhone 6, 6 plus devices and above on safari browser.
As these

[2018-06-13 08:32] abdulghani200 commented on #963
updating to 5.6.2 solved the problem :heart:

[2018-06-14 01:42] Koshukey opened #1007 "Does we cannot use read_custom_friendlists permission?"
I try to get user's frined list through graph API.

When I read here(https://developers.facebook.com/docs/graph-api/reference/friend-list/),
it says that I need to get  read_custom_friendlists permission for getting friendlist.

However, when I try to get that permission, I met this error.

[![https://gyazo.com/1c975a7ff55cb3acbb27b0c7e1acb98d](https://i.gyazo.com/1c975a7ff55cb3acbb27b0c7e1acb98d.

[2018-06-14 12:39] eakbas opened #1009 "getLoginUrl is asking for more permissions than requested"
I'm using v5.6.2 and my code is this:

[code]
Although I am only asking for the user's e-mail, I get the following message from Facebook:

"<my-app> will receive: your name and profile picture, friend list, birthday, current city, photos, videos and email address."  with the following warning:

"Submit for Login Review. Some of the permissions below have not been approved for use by Facebook.
Subm

[2018-06-14 17:36] ashutoshtiwari22 opened #1010 "facebook php sdk not returning page rating review id"
When we calling the page ratings  fields "open_graph_story" from Facebook graph api then it is returning page ratings id but when we are calling from php sdk then it is coming as blank not returning  rating id so can not reply from api.
Please let me now if there is any other information I can provide. Thank you for your help.

[2018-06-15 09:08] miky9585 opened #1011 "Connection timed out after 90001 milliseconds"
Every call on PHP SDK get the error in object. Not only me but all user that uses my projects (every my project where PHP SDK is installed).
I've no problem with JS SDK.

I've tried to increase timeout too, but the error persisted!

[2018-06-15 09:43] nasy opened #1012 "Problems trying to upload heavy videos (2 min, 300MB aprox) by chunks"
I am having problems trying to upload heavy videos by chunks (2 min, 300MB aprox). Video fails while in the middle of the uploading process.

With smaller size videos it works fine.

This is the code from the SDK that I am using:

SDK Version is
   "facebook/graph-sdk": "5.6.2"

    $response = $this->_facebookConnection->uploadVideo(
        $facebookPageId,
        $localPath,
        [

[2018-06-15 09:45] nasy commented on #1000
Any updates on this? I am having the same issue, sometimes upload works sometimes it fails. No apparent reason.

¯\_(ツ)_/¯

[2018-06-16 20:04] phaizullin commented on #1012
#1000 this is fix of your problem

[2018-06-16 20:12] phaizullin commented on #1000
#1001 this is fix of your problem

[2018-06-17 09:09] mahype opened #1013 "Can't see further development"
As I can see the latest commits where in 2017. Will this project developed further and should we implement the SDK in new projects? Or did I missed something? ;)

[2018-06-17 09:29] yguedidi commented on #872
Thanks @kanneg881 for info, closing as no more valid.

[2018-06-17 09:29] #872 closed

[2018-06-17 09:30] yguedidi commented on #958
Closing as it's looks like a solution is found and the issue is not related to the SDK itself.

[2018-06-17 09:30] #958 closed

[2018-06-17 09:35] yguedidi commented on #910
@borismalezyk thanks for the details! Could you please try to upload without using the SDK? I mean running the API call but with either Postman or cURL, so we can target if the issue comes from the Graph API of the SDK, thanks!

[2018-06-17 09:43] yguedidi commented on #973
@barkermn01 thanks for your report! It looks like it's an issue in the Graph API as it returns an error, please check with Facebook support what is the error 390.
So I'm closing this.

[2018-06-17 09:43] #973 closed

[2018-06-17 10:01] yguedidi commented on #1002
@milap-virtueinfo thanks for posting your issue here! Unfortunatly, it looks like a usage issue more than an SDK issue. You should check the changelog of the Graph API from 2.2 to 2.10, or ask for help on StackOverflow

[2018-06-17 10:01] #1002 closed

[2018-06-17 10:03] yguedidi commented on #1003
Thank you for using the Facebook PHP SDK!

If you need help about using it, you should ask your questions on [StackOverflow](https://stackoverflow.com/) and tag them with the `facebook-php-sdk` tag.

So I'm closing this, but if you found a bug in the SDK or think about a feature, feel free to open a new GitHub issues.

[2018-06-17 10:03] #1003 closed

[2018-06-17 10:04] yguedidi commented on #1004
Closing as @Arkellys answered to it, thanks for that! If you need more help @Gangababu93, please check StackOverflow

[2018-06-17 10:04] #1004 closed

[2018-06-17 10:08] yguedidi commented on #476
@mapicard thanks! When you don't provide a callback, the SDK will guess the current URL, this is the default behavior. Maybe there is an issue in either the detection, the documentation or behavor itself.
An idea for next major version could be to force prividing the redirect uri

[2018-06-17 10:09] yguedidi commented on #1005
Thank you for posting your issue here!
But this repository is about the Graph API PHP SDK and reported issues must be related to it, like SDK code bugs, documentation mistakes or new feature suggestions.
For issues with Graph API itself, you can report a bug in the [Facebook issue tracker](https://developers.facebook.com/bugs/).
For help about how to use the SDK, [StackOverflow](https://stackoverf